<form action="{:U('/Home/Login/mmzh3')}" name="xgmm" id="xgmm" method="post">

<input type="hidden" name="user" value="{$user['ue_account']}">
<div  align="center">
<div style="width:600px; height:350px;position:relative; border:5px solid #09F;">
<p style="text-align:center;">
通過密保問題取回密碼！
</p>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td align="right">用戶名：</td>
    <td>{$user['ue_account']}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">問題一：</td>
    <td>
{$user['ue_question']}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">答　案：</td>
    <td><input name="da1" type="text" id="da1" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">問題二：</td>
    <td>{$user['ue_question2']}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">答　案：</td>
    <td><input name="da2" type="text" id="da2" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">問題三：</td>
    <td>{$user['ue_question3']}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">答　案：</td>
    <td><input name="da3" type="text" id="da3" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">新一級密碼：</td>
    <td><input name="yjmm" type="text" id="yjmm" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">新二級密碼：</td>
    <td><input name="ejmm" type="text" id="ejmm" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center">注意:密碼6-12個字元,大小寫英文+數字,請勿用特殊詞符！</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input name="submit" type="submit" value="提交" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp; </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br />
  <br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</form>
</div>
</div>


