  <div class="viewcon" style="display: block;">
   <if condition="$ppdd_count eq 0">
   <div>
      该申请单还未匹配
   <div>
   </if>
   <if condition="$ppdd_count neq 0">
   <div>
    已匹配金额：{$jsbz_ppjb}
   </div>
   <foreach name="ppdd_list" item="pp">
   <div class="l_item lin status_pp_g_{$pp.pporderid|get_pp_g_status=###} open">
    <span class="orderid">订单号{$pp.pporderid}</span>
    <span> (匹配买入订单{$pp['tgbz_data']['orderid']}))</span>
    <div>
     <div class="bj status_pp_g_{$pp.pporderid|get_pp_g_status=###}"></div>
     <div>
      <span class="bold">{$pp['tgbz_user']['ue_theme']}&gt; <span class="cash">{$pp.jb}</span> &gt; 您 </span>
      <span>订单创建日期:{$pp.date}</span>
     </div>
    </div>
   </div>
   <div class="viewcon lout" style="display: none;">
    <div>
     <span class="left">打款人：</span>
     <!--<span>{$pp['tgbz_user']['ue_theme']}({$pp['tgbz_user']['ue_phone']|replace_xing=###})</span>-->
        <span>{$pp['tgbz_user']['ue_theme']}({$pp['tgbz_user']['ue_phone']})</span>
    </div>
    <div>
     <span class="left">打款人领导人：</span>
     <!--<span>{$pp['tgbz_accname']['ue_theme']}({$pp['tgbz_accname']['ue_phone']|replace_xing=###})</span>-->
        <span>{$pp['tgbz_accname']['ue_theme']}({$pp['tgbz_accname']['ue_phone']})</span>
    </div>
    <div class="card">
     <div>
      <span class="left">银行：</span>
      <span>{$pp['jsbz_user']['yhmc']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">卡号：</span>
      <span class="clickbank">{$pp['jsbz_user']['yhzh']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">支行：</span>
      <span>{$pp['jsbz_user']['yhzhxx']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">持有人：</span>
      <span>{$pp['jsbz_user']['yhckr']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">支付宝：</span>
      <span>{$pp['jsbz_user']['zfb']|authcode_decode=###}</span>
     </div>
	 <div>
      <span class="left">微信：</span>
      <span>{$pp['jsbz_user']['weixin']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">备注：</span>
      <span></span>
     </div>
    </div>
    <div>
     <span class="left">收款人：</span>
     <!--<span>{$pp['jsbz_user']['ue_theme']}({$pp['jsbz_user']['ue_phone']|replace_xing=###})</span>-->
        <span>{$pp['jsbz_user']['ue_theme']}({$pp['jsbz_user']['ue_phone']})</span>
    </div>
    <div>
     <span class="left">收款人领导人：</span>
     <!--<span>{$pp['jsbz_accname']['ue_theme']}({$pp['jsbz_accname']['ue_phone']|replace_xing=###})</span>-->
        <span>{$pp['jsbz_accname']['ue_theme']}({$pp['jsbz_accname']['ue_phone']})</span>
    </div>
    <div>
     <span>打款时间：{$pp.date}</span>
    </div>
    <div>
    <if condition="$pp.pic neq '0'" ><a class="btn btn-success viewimg" data="{$pp.pic}">查看打款凭证</a></if>
    </div>
   </div>
   </foreach>
   </if>
  </div>