<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/sncss/js/jquery.js"></script>
    <script type="text/javascript" src="/sncss/date/laydate.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>

    <style>
        .status_p_0:after{content:'排队中';}
        .status_p_3:after{content:'部分匹配';}
        .status_p_2:after{content:'已完成';}
        .status_p_4:after{content:'部分完成';}
        .status_p_5:after{content:'已全部匹配';}

        .status_g_0:after{content:'排队中';}
        .status_g_3:after{content:'部分匹配';}
        .status_g_2:after{content:'已完成';}
        .status_g_4:after{content:'部分完成';}
        .status_g_5:after{content:'已全部匹配';}



        .outstatus0:after{content:'排队中';}
        .outstatus1:after{content:'待匹配';}
        .outstatus2:after{content:'已匹配';}
        .outstatus3:after{content:'匹配成功';}
        .outstatus4:after{content:'待确认';}
        .outstatus5:after{content:'部分完成';}
        .outstatus6:after{content:'已完成';}
        .outstatus7:after{content:'部分取消';}
        .outstatus8:after{content:'取消';}

    </style>
</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li><a href="#">基本内容</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td> <form id="form1" name="form1" method="post" action="/Yshclbssb.php/Home/Index/budget_log">

                    <input name="user" type="text" class="dfinput" id="user" value="{$user}" placeholder="用户账号" />
                    <!--<input name="ue_id" type="text" class="dfinput" id="ue_id" value="{$ue_id}" placeholder="用户id" />-->
                    <input placeholder="会员注册开始日期" class="laydate-icon" value="{$start}" name="start" id="start" onClick="laydate({elem:'#start',istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    <input placeholder="会员注册结束日期" class="laydate-icon" value="{$end}" name="end" id="end" onClick="laydate({elem:'#end',istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    <input type="radio" name="cur_data_type" value="1" <if condition="$cur_data_type eq 1">checked="checked"</if>>开仓【买入】
                    <input type="radio" name="cur_data_type" value="2" <if condition="$cur_data_type eq 2">checked="checked"</if>>交割【买出】
                    <input type="radio" name="cur_data_type" value="3" <if condition="$cur_data_type eq 3">checked="checked"</if>>平仓【匹配、完成】

                    <input name="" type="submit" class="btn" value="确认搜索"/>
 &nbsp;&nbsp;
                </form></td>
                <td align="right">
                    <a href="/Yshclbssb.php/Home/Index/ppdd_list/cz/-1/" style="padding:2px 5px;<if condition='$cz eq -1'>background:#00CCFF</if>">所有</a>
                    <a href="/Yshclbssb.php/Home/Index/ppdd_list/cz/0/"  style="padding:2px 5px;<if condition='$cz eq 0'>background:#00CCFF</if>">交易中</a>
                    <a href="/Yshclbssb.php/Home/Index/ppdd_list/cz/1/"  style="padding:2px 5px;<if condition='$cz eq 1'>background:#00CCFF</if>">交易成功</a>
                </td>
            </tr>
            <tr>
                <td>请输入用户ID或用户名 </td>
                <td align="right">&nbsp;</td>
            </tr>
        </table>
        <div style="float: right;">
            <form id="form1" name="form1" method="get" action="{:U('expBudgetLog')}">
                <input type="radio" name="cur_data_type" value="1" <if condition="$cur_data_type eq 1">checked="checked"</if>>开仓【买入】
                <input type="radio" name="cur_data_type" value="2" <if condition="$cur_data_type eq 2">checked="checked"</if>>交割【买出】
                <input type="radio" name="cur_data_type" value="3" <if condition="$cur_data_type eq 3">checked="checked"</if>>平仓【匹配、完成】

                <input name="" type="submit" style="padding:5px 5px;background:pink" value="导出EXCEL"/>
                &nbsp;&nbsp;
            </form>
        </div>
        
        <div>
            <!--总消化积分：{$totalIntegral.total_integral}（总注册使用的积分:{$totalIntegral.total_reg_integral} |总已交割的红利积分:{$totalIntegral.total_out_integral}）-->
        </div>


    </div>


    <table class="tablelist">
        <thead>
        <tr>
            <th>用户账号</th>
            <th>姓名</th>
            <th>订单编号</th>
            <th>金额</th>
            <th>数量</th>
            <th>状态</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!--开仓【买入】-->
        <foreach name="plist" item="p">
            <tr style="">
                <td>{$p.user}[<a class='btn-details' href='{$p.user}'>详情</a>]</td>
                <td>{$p.ue_theme}</td>
                <td>{$p.orderid}</td>
                <td>
                    {$p.mainid|get_tgbz_totaljb=###}
                </td>
                <td>{$p.mainid|get_tgbz_totaljb=###|get_pro_num}</td>
                <td class="status_p_{$p.orderid|get_p_status=###}">【买入】</td>
                <td>{$p.date}</td>
                <td></td>
                <td>
                <!--<a onClick="javascript:if(!confirm('删除此订单会连同相关提供和接受订单一起删除,确认要删除吗？'))  return  false; " href="/Yshclbssb.php/Home/Index/ppdd_list_del/id/{$v.id}" >删除</a>-->
                </td>
            </tr>

        </foreach>
        <foreach name="jlist" item="g">
            <tr style="">
                <td>{$g.user}[<a class='btn-details' href='{$g.user}'>详情</a>]</td>
                <td>{$g.ue_theme}</td>
                <td>{$g.orderid}</td>
                <td>
                    {$g.mainid|get_jsbz_totaljb=###}
                </td>
                <td>{$g.mainid|get_jsbz_totaljb=###|get_pro_num}</td>
                <td class="status_g_{$g.orderid|get_g_status=###}">【卖出】</td>
                <td>{$g.date}</td>
                <td></td>
                <td>
                    <!--<a onClick="javascript:if(!confirm('删除此订单会连同相关提供和接受订单一起删除,确认要删除吗？'))  return  false; " href="/Yshclbssb.php/Home/Index/ppdd_list_del/id/{$v.id}" >删除</a>-->
                </td>
            </tr>
        </foreach>
        <foreach name="pp_g_list" item="pp_g">
            <tr style="">
                <td>{$pp_g.p_user}[<a class='btn-details' href='{$pp_g.p_user}'>详情</a>]</td>
                <td>{$pp_g.ue_theme}</td>
                <td>{$pp_g.pporderid}</td>
                <td>{$pp_g.jb}</td>
                <td></td>
                <td class="bj status_pp_g_{$pp_g.pporderid|get_pp_g_status=###}">【匹配、完成】</td>
                <td>{$pp_g.date}</td>

                <td>
                    <!--<a onClick="javascript:if(!confirm('删除此订单会连同相关提供和接受订单一起删除,确认要删除吗？'))  return  false; " href="/Yshclbssb.php/Home/Index/ppdd_list_del/id/{$v.id}" >删除</a>-->
                </td>
            </tr>
            <!--<div class="l_item lin status_pp_g_{$pp_g.pporderid|get_pp_g_status=###}" act="viewinfo" data="{$pp_g.pporderid}">-->
                <!--<span class="orderid">订单号{$pp_g.pporderid}</span>-->
                <!--<span> (匹配买入订单{$pp_g['tgbz_data']['orderid']}))</span>-->
                <!--<div>-->
                    <!--<div class="bj status_pp_g_{$pp_g.pporderid|get_pp_g_status=###}"></div>-->
                    <!--<div>-->
                        <!--<span class="bold">{$pp_g['tgbz_user']['ue_theme']} &gt; <span class="cash">{$pp_g.jb}</span> &gt; 您</span>-->
                        <!--<span>订单创建日:{$pp_g.date}</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </foreach>
        </tbody>
    </table>
    <style>.pages a,.pages span {
        display:inline-block;
        padding:2px 5px;
        margin:0 1px;
        border:1px solid #f0f0f0;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
    }
    .pages a,.pages li {
        display:inline-block;
        list-style: none;
        text-decoration:none; color:#58A0D3;
    }
    .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
        margin:0;
    }
    .pages a:hover{
        border-color:#50A8E6;
    }
    .pages span.current{
        background:#50A8E6;
        color:#FFF;
        font-weight:700;
        border-color:#50A8E6;
    }</style>

    <div class="pages"><br />

        <div align="right">{$page}
        </div>
    </div>

    <div align="left">

        会员信息：<span id="user_info"></span></div>

</div>

<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>

    <div class="tipinfo">
        <span><img src="/sncss/images/ticon.png" /></span>
        <div class="tipright">
            <p>是否确认对信息的修改 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
    </div>

    <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
    </div>

</div>




</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    $('.btn-details').click(function () {
        $.post("/Yshclbssb.php/Home/Index/get_userinfo_from_uname.html", { uname: $(this).attr('href') }, function(msg) { $('#user_info').html(msg); });
        return false;
    });
</script>

</body>

</html>
