<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
<!--<script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/sncss/date/laydate.js"></script>
<script src="/assets/js/jquery.countdown.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>

    <style>
        .countdownbox span{
            display:inline-block;
        }
    </style>
</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div>
    
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td> 
      <form id="form1" name="form1" method="get" action="/Yshclbssb.php/Home/Index/qddt_list">
       <input name="user" type="input" class="dfinput" id="user" style="width:150px" value="{$user}"/>
       <!--<input type="radio" name="isfast" value="-1"  <if condition="$isfast eq '-1'" >checked="checked" </if>/>所有-->
       <!--<input type="radio" name="isfast" value="0" <if condition="$isfast eq 0" >checked="checked" </if>/>不加速-->
       <!--<input type="radio" name="isfast" value="1" <if condition="$isfast eq 1" >checked="checked" </if> />加速&nbsp;&nbsp;|-->
       <!--<input type="radio" name="isprepay" value="-1"  <if condition="$isprepay eq '-1'" >checked="checked" </if>/>所有-->
       <!--<input type="radio" name="isprepay" value="0" <if condition="$isprepay eq 0" >checked="checked" </if>/>尾款-->
       <!--<input type="radio" name="isprepay" value="1" <if condition="$isprepay eq 1" >checked="checked" </if> />预付款&nbsp;&nbsp;|-->
       <!--<input type="radio" name="priority" value="-1"  <if condition="$priority eq '-1'" >checked="checked" </if>/>所有-->
       <!--<input type="radio" name="priority" value="0" <if condition="$priority eq 0" >checked="checked" </if>/>普通-->
       <!--<input type="radio" name="priority" value="1" <if condition="$priority eq 1" >checked="checked" </if> />高级&nbsp;&nbsp;|-->
       <!--<input type="radio" name="zt" value="-1"  <if condition="$zt eq '-1'" >checked="checked" </if>/>所有状态-->
       <!--<input type="radio" name="zt" value="0" <if condition="$zt eq 6" >checked="checked" </if>/>预约中-->
       <!--<input type="radio" name="zt" value="0" <if condition="$zt eq 0" >checked="checked" </if>/>未匹配-->
       <!--<input type="radio" name="zt" value="0" <if condition="$zt eq 1" >checked="checked" </if>/>已匹配&nbsp;&nbsp;|-->
       <input placeholder="请输入开始日期" class="laydate-icon" value="{$_SESSION['start']}" id="start" name="start" onClick="laydate({elem:'#start',istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
       <input placeholder="请输入结束日期" class="laydate-icon" value="{$_SESSION['end']}" id="end" name="end" onClick="laydate({elem:'#end',istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
          <input placeholder="平仓匹配时间" class="laydate-icon" value="{$pc_date}" id="pc_date" name="pc_date" onClick="laydate({elem:'#pc_date',istime: true, format: 'YYYY-MM-DD'})">
          <input name="" type="submit" class="btn" value="确认搜索"/>
	   搜索出的日期累计总额：{$s_sum} &nbsp;&nbsp;今日排单总额：{:getTodayPDSum()}&nbsp;&nbsp;未匹配总额：{:getNoPPPDSum()}
       <php>if( is_admin_user() == 1 ){</php>
           <!--<input name="" type="submit" class="btn" value="自动匹配" onClick="javascript:form1.action='/Yshclbssb.php/Home/Index/tgbz_list/zdpp_confirm/1';"/>-->
           <input type="hidden" name="zdpp_confirm_ckb" value="1">自动匹配查询结果的所有订单，请确保数据备份！
       <php>}</php>
   </form>
   </td>
    <td align="right">	
	<!--<a onClick="javascript:if(!confirm('1-1自动匹配前请先备份备据,未备份请点取消,点确定自动匹配所有订单!'))  return  false; "  href="/Yshclbssb.php/Home/Index/zdpp_cl" style="padding:2px 5px;">所有订单自动匹配</a> </td>-->
  </tr>
  <tr>
    <td>总充值:{$z_jgbz} 交易成功:{$z_jgbz2} 交易中:{$z_jgbz3} </td>
    <td align="right">&nbsp;</td>
  </tr>
</table>

    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>全选<input type="checkbox" name="all">编号<i class="sort"><img src="/sncss/images/px.gif" /></i></th>
        <th>提供会员</th>
        <th>提供金额</th>
        <th>状态</th>
        <th>确认状态</th>
		<th>订单类型</th>
        <th>抢购订单状态</th>
        <th>提供昵称</th>
        <th>用户激活时间</th>
        <th>提供时间</th>
        <th>预约订单否</th>
		<th>开仓打款时间</th>
        <th>平仓匹配时间</th>
        <php>if( is_admin_user() == 1 ){</php>
		<th>提供操作</th>
        <php>}</php>
        </tr>
        </thead>
        <tbody id="tb">
		
		<foreach name='list' item='v'>
        <tr>
		 <td><input type="checkbox" name="id" value="{$v.jb}" onclick="userCheck(this)">{$v.id}
             <php>if( is_admin_user() == 1 ){</php>
             <a onClick="javascript:if(!confirm('确认要删除吗？'))  return  false; " href="/Yshclbssb.php/Home/Index/tgbz_list_del/id/{$v.id}" >删除</a>
             <php>}</php>
             <if condition="$v.regtime_eq_date_status eq 1">
                 <span style="display:inline-block;width:5px;height:5px;background:#43d626;"></span>
             </if>
         </td>
		 <td>{$v.user} ({$v.user_nc}) [<a class='btn-details' href='{$v.user}'>详情</a>]</td>
		   <td>{$v.jb}</td>
		    <td><if condition="$v.zt eq 0" >等待中</if>
											<if condition="$v.zt eq 1" >匹配成功</if><if condition="$v.zt eq 6" >预约中</if></td>
        
        <td>
		
		<if condition="$v.qr_zt eq 0" >未确认</if>
											<if condition="$v.qr_zt eq 1" >已确认</if>
		</td>
		<td>
		<if condition="$v.isfast eq 1" ><font color="red">加速</font></if>
		<if condition="$v.isfast eq 0" >不加速</if> |
		<if condition="$v.isprepay eq 1" ><font color="red">预付款</font></if>
		<if condition="$v.isprepay eq 0" >尾款</if> |
		<if condition="$v.priority eq 0" >普通</if>
		<if condition="$v.priority eq 1" ><font color="red">高级</font></if>
		</td>
        <td>
            <if condition="$v.isreset eq 1" ><span >未抢</span></if>
            <if condition="$v.isreset eq 2" ><span style="color:red;">已抢</span></if>
        </td>
        <td>{$v.user_nc}</td>
        <td>
            <if condition="$v.regtime_eq_date_status eq 1">
            <span style="color:red;">
                {$v.jihuo_time}
                <!--<span style="display:inline-block;width:5px;height:5px;background:#43d626;"></span>-->
            </span>
            </if>
            <if condition="$v.regtime_eq_date_status eq 0">
            <span>
                {$v.jihuo_time}
                <!--<span style="display:inline-block;width:5px;height:5px;background:#43d626;"></span>-->
            </span>
            </if>
        </td>
        <td>{$v.date}</td>
        <td>
            <if condition="$v.isyuyue eq 0">否</if>
            <if condition="$v.isyuyue eq 1"><span style="color:red;">是</span></if>
        </td>
        <td>{$v.date_hk}</td>
        <td>
            <notempty name="v.date_hk">
                <span style="color:red;">{$v.end_date}</span>
            <!--<span style="color:#ff0000; position: inherit;" data="{$v.end_date}" class="dqsj countdownbox"></span>-->
            </notempty>
        </td>
        <php>if( is_admin_user() == 1 ){</php>
        <td>
            <!--<a href="/Yshclbssb.php/Home/Index/tgbz_list_sd/id/{$v.id}/user/{$v.user}">手动匹配</a>-->
        </td>
        <php>}</php>
        </tr> 
       </foreach>
        </tbody>
    </table>
    <style>.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}</style>
   
   <div class="pages"><br />

 <div align="left">选中金额统计:<span id="check_sum"></span></div>
      <div align="right">{$page}
      </div>
</div>

<div align="left">

会员信息：<span id="user_info"></span></div>

</div>
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="/sncss/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
      </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	var check_sum = 0;
	$('#check_sum').html(check_sum);
	$('.tablelist tbody tr:odd').addClass('odd');
	$(function () {
    //全选,设置chheckbox name='all' tbody id=tb
    $("input[name=all]").click(function () {
        if (this.checked) {
			$("#tb :checkbox").each(function(){ 
              check_sum+=Number($(this).val());
            }) 
			
		    $('#check_sum').html(check_sum);
            $("#tb :checkbox").prop("checked", true);
        } else {
			check_sum=0;
		    $('#check_sum').html(check_sum);
            $("#tb :checkbox").prop("checked", false);
        }
    });

});
//单选 设置name=id
function userCheck(ths) {
    if (ths.checked == false) {
		check_sum-=Number(ths.value);
		$('#check_sum').html(check_sum);
        $("input[name=all]:checkbox").prop('checked', false);
    }
    else {
		check_sum+=Number(ths.value);
		$('#check_sum').html(check_sum);
        var count = $("input[name='id']:checkbox:checked").length;
        if (count == $("input[name='id']:checkbox").length) {
            $("input[name=all]:checkbox").prop("checked", true);
        }
    }
}
    $('.btn-details').click(function () {
        $.post("/Yshclbssb.php/Home/Index/get_userinfo_from_uname.html", { uname: $(this).attr('href') }, function(msg) { $('#user_info').html(msg); });
        return false;
    });

	</script>

</body>

</html>
