@charset "utf-8";
/* CSS Document */
/*body { background: #edf1e7 !important; }*/

.Album { position: absolute; top: -175px; left: 120px;}
.Album img { display: block;} 

/*xin按钮*/
.btnAll { display: block; width: 164px; height: 130px; float: left;}
.ljgm { background: url(../images/ljgm.jpg) no-repeat;}
.ljgm:hover { background: url(../images/ljgm_hover.jpg) no-repeat;}
.yxxz { background: url(../images/yxxz.jpg) no-repeat;}
.yxxz:hover { background: url(../images/yxxz_hover.jpg) no-repeat;}

.gg { display: block; width: 164px; height: 100px; float: left;}
.g2 { background: url(../images/g2.jpg) no-repeat;}
.g2:hover { background: url(../images/g2_hover.jpg) no-repeat;}
.g1 { background: url(../images/g1.jpg) no-repeat;}
.g1:hover { background: url(../images/g1_hover.jpg) no-repeat;}

.exe32 { width: 328px; height: 30px; line-height: 30px; margin: 8px 0 0 ; text-align: center; display: block;background: #0a2935; font-family: "微软雅黑"; font-size: 16px; color: #fff;}
.exe32:hover { color: #fff; background: #09374a; }

.ww11 {}
.ww11 a { float: left;}
.ww11 img { display: block;}

/*新改信息*/

.banner { background: url(../images/banner-txin.jpg) no-repeat top center; width: 100%;/* height: 479px; */height: 483px;}
.weixinIco { position: absolute; right: 0; top: 295px; z-index: 9999; display: none;}
.bodyerbottom { background: url(../images/banner-bxin.jpg) no-repeat top center; width: 100%; }

.reserve { position: relative; width: 134px; height: 130px; overflow: hidden;}
.reserveBtn { display: block; background: url(../images/reserveBtn.jpg) no-repeat; width: 134px; height: 102px; position: absolute; top: 0; left:0;}
.reserveBtn:hover {background: url(../images/reserveBtn-hover.jpg) no-repeat;}
.reserveBtn-6 { display: block; background: url(../images/reserveBtn-6.jpg) no-repeat; width: 134px; height: 28px; position: absolute; top: 102px; left:0;}
.reserveBtn-6:hover { background: url(../images/reserveBtn-6-hover.jpg) no-repeat;}
.reserveDiv { margin: 0 0 9px;}


.allocation { margin: 15px auto 0;}
.wall-bj { width: 200px; margin: 0 0 0 10px; position: relative;}
.wall-bj a {position: relative; display: block;}
.wall-bj img { display: block;} 
.allocationinfo { width: 330px; background: #fff; }
.peizhi { position: relative;   font-size: 16px; font-family: "微软雅黑"; color: #353637;font-weight: normal; height: 43px; line-height: 43px; background: #e8edf0; padding: 0 0 0 20px; }
.peizhi a { position: absolute;  right: 10px; top: 0; font-size: 12px; color: #666; font-weight: normal; font-family: "宋体"}
.peizhi a:hover { text-decoration: underline;} 

.tj-table { background: #fff;}
.tj-tr { float: left; background: url(../images/h-line.jpg) repeat-x bottom left;}
.tj-th { background: url(../images/s-line.jpg) repeat-y right top; height: 38px; line-height: 38px; float: left; width: 99px; text-align: center; font-size: 14px; color: #585858; font-weight: bold;}
.tj-td { height: 38px; line-height: 38px; width: 210px; font-size: 14px; color: #585858; float: left; padding: 0 0 0 20px;}

.tixing { font-size: 14px; color: #FA6666; font-family: "宋体"; height: 43px; line-height: 43px; text-align: center;  font-weight: bold; background: #fff;}

.FriendLink { margin: 15px auto 0;}

.FriendLink a { display: block; position: relative; width: 130px; height: 47px; float: left; margin: 0 7px 9px 0;}
.FriendLink a img { width: 130px;}
.feLink { width: 541px; margin: 0 9px 0 0;}

.bottomtishi { margin: 15px auto 0; text-align:center;}


.xjQ { width: 410px;}
.game-xj { display: block;}
.xjGAME { width: 130px; margin: 0 10px 0 0;}
.xj5q { margin: 0;}
.xj-btn a { display: block; width: 128px; height: 34px; line-height: 34px; text-align: center; background: #09232c; color: #8ed4eb; margin: 0;}
.xj-btn a:hover { background: #09374a; color: #fff;}
.T { border-bottom: 1px solid #0c3645;}
.B { border-top: 1px solid #031318;}



/*新改信息 end*/

/*banner*/
/*.banner { background: url(../images/flashT.jpg) no-repeat top center; width: 100%; height: 564px; position: relative;}*/
/*banner end*/

/*ad*/
.ad {/* background: url(../images/flashB.jpg) no-repeat top center; width: 100%;*/ position: relative;}
/*xinjia*/
.bannerflash { position: absolute;   width: 100%;   height: 800px;  top: -385px;   z-index: 0; right: 0; }
/*end*/
.adInfo { position: relative;}
.music { position: absolute; left: 350px; top: -22px;}
.VidoLink { margin: 0 20px 0 0; width: 330px;}
.vido { width: 196px; height: 130px; position: relative; cursor: pointer;}
.play { display: block; position: absolute; width: 196px; height: 130px; background: url(../images/playQ.png) no-repeat center center; z-index: 9999;}
.play:hover { background: url(../images/play.png) no-repeat center center;}
.vido img { display: block; width: 196px; height: 130px;}
.focus { width: 608px; height: 236px; border: 1px solid #000;}

#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{  position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .smalltitle {width: 608px; height: 13px; position: absolute; bottom: 14px; z-index: 10; left: 35px;}
#playBox .smalltitle ul{min-width:120px; width: auto !important; width: 120px;}
#playBox .smalltitle ul li{ width:13px; height:13px; margin:0 5px 0 0; border-radius:10px; background: url(../images/jX.png) no-repeat; float:left; overflow:hidden;*display:inline;*zoom:1; cursor: pointer;}
#playBox .smalltitle ul li.thistitle{ background: url(../images/jD.png) no-repeat; width: 27px; height: 13px;} 


/*.adFalsh { width: 350px; height: 424px;}*/
/*ad end*/

/*news*/
.h { color: #a01e22 !important;}
.Info { margin: 15px auto 0; position: relative; z-index: 2;}
.news { width: 610px;}

.newsTitle { height: 55px; position: relative; background: #f0f1f1;}
.newsTitle a { position: absolute; right: 40px; top: 17px;}
.newsTitle ul { background: #f0f1f1;}
.newsTitle ul li { float: left; font-size: 16px; font-family: "微软雅黑"; color: #353637; background: url(../images/line.png) no-repeat right center; height: 55px; line-height: 55px; width: 98px; text-align: center; cursor: pointer;}
.newsTitle ul li.newsLast { background: none;}

.newsList { height: 182px; background: #e8edf0;}

.synthesize {}
.synthesize ul { padding: 10px 0 0 30px; width: 540px; height: 150px; overflow: hidden; *height: 165px; *padding: 5px 0 0 30px;}
.synthesize ul li { line-height: 30px; height: 30px; clear: both;}
.synthesize ul li a { color: #353637; font-size: 14px; display: block; width: 475px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.synthesize ul li a:hover { text-decoration: underline;}
.synthesize ul li .newsTime { font-size: 14px; color: #8b8d8f;}
.synthesize ul li .newsType { padding: 0 10px 0 0;}


.weibo { margin: 0 0 0 20px;}
.weiboTop {}
.xianjian,.yaoxiansheng { position: relative; width: 165px; height: 112px;}
.xianjian { background: url(../images/xianjian.jpg) no-repeat;}
.yaoxiansheng { background: url(../images/yaoxiansheng.jpg) no-repeat;}
.Sian,.TX { position: absolute; font-size: 12px; color: #c7cbce; top: 71px; *top: 71px;}
.Sian { left: 23px;}
.TX { left: 58px;}
.Sian:hover,.TX:hover { color: #BDBEBF;}
.weixin { background: url(../images/weixin01.jpg) no-repeat; width: 330px; height: 126px;}
/*news end*/

/*figure*/
.figure { background: url(../images/big.jpg) no-repeat top center; width: 100%; height: 332px; margin: 15px 0 0;}
.figureR { position: relative;}
.leftThree { position: absolute; left: 10px; top: 15px;}
.rightThree { position: absolute; right: 10px; top: 15px;}

.pic1,.pic2,.pic3,.pic4,.pic5,.pic6 { display: block; width: 75px; height: 181px; background: url(../images/figure.png) no-repeat; float: left;}
.pic1,.pic2,.pic3 { margin: 0 5px 0 0;}
.pic4,.pic5,.pic6 { margin: 0 0 0 5px;}
.click_out .pic1 { background-position: -2px -3px;}
.click_out .pic2 { background-position: -81px -3px;}
.click_out .pic3 { background-position: -160px -3px;}
.click_out .pic4 { background-position: -239px -3px;}
.click_out .pic5 { background-position: -318px -3px;}
.click_out .pic6 { background-position: -397px -3px;}

.pic5 { background-position: -318px -3px;}
.pic6 { background-position: -397px -3px;}

.pic1:hover { background-position: -2px -199px;}
.pic2:hover { background-position: -81px -199px;}
.pic3:hover { background-position: -160px -199px;}
.pic4:hover { background-position: -239px -199px;}
.pic5:hover { background-position: -319px -199px;}
.pic6:hover { background-position: -397px -199px;}

.click_over .pic1 { background-position: -2px -199px;}
.click_over .pic2 { background-position: -81px -199px;}
.click_over .pic3 { background-position: -160px -199px;}
.click_over .pic4 { background-position: -239px -199px;}
.click_over .pic5 { background-position: -319px -199px;}
.click_over .pic6 { background-position: -397px -199px;}


.none { position: absolute; right: 10px; top: 15px;}

.figureR li { float: left;}
.figureR ul { position: absolute; top: 15px; left: 10px;} 
#fen { margin: 0 0 0 500px;}
/*figure end*/


/*wallpaper*/
.wallpaper { margin: 15px auto 0;}

.scene { width: 470px; float: left;}
.scene img,.desktop img { display: block;}

.sceneOne,.sceneTwo,.sceneThree,.sceneFour { display: block; width: 235px; height: 119px; position: relative;}

.sceneTop {}
.sceneOne {}
.sceneTwo {}

.sceneJ { display: block; background: url(../images/bJ.png) no-repeat; width: 7px; height: 12px; position: absolute; right: -7px; top: 50px; z-index: 999;}
.sceneInfo { width: 225px; height: 27px; background: url(../images/newsbj.png) repeat; position: absolute; bottom: 0; line-height: 27px; font-size: 14px; font-family: KaiTi,"楷体"; color: #fff; text-align: right; padding: 0 10px 0 0;}

.sceneBottom {}
.sceneThree {}
.sceneFour {}


.desktop { margin: 0 0 0 20px;}
.desktopL,.desktopRT,desktopRB a { display: block;}
.desktopL { width: 235px; height: 238px;}
.desktopRT { position: relative; width: 235px; height: 119px;}
.desktopRB a { float: left; width: 117px; height: 119px;}

.desktopJ { display: block; background: url(../images/hJ.png) no-repeat left; width: 7px; height: 12px; position: absolute; left: -7px; top: 50px; z-index: 999;}
/*wallpaper end*/


/*vido-17173*/

.vidoinfo { margin: 15px auto 0;}
.vido_list {}
.vido-big { width: 457px;}
.vido_b { background: url(../images/vido/0-on.jpg) no-repeat; display: block; width: 457px; height: 258px;}
.vido_b:hover { background: url(../images/vido/0-off.jpg) no-repeat;}

.vido-small { width: 153px;}
.vido-1,.vido-2,.vido-3 { display: block; width: 153px; height: 86px;}
.vido-1 { background: url(../images/vido/1-off.png) no-repeat;}
.vido-2 { background: url(../images/vido/2-off.png) no-repeat;}
.vido-3 { background: url(../images/vido/3-off.png) no-repeat;}
.vido-1:hover { background: url(../images/vido/1-on.png) no-repeat;}
.vido-2:hover { background: url(../images/vido/2-on.png) no-repeat;}
.vido-3:hover { background: url(../images/vido/3-on.png) no-repeat;}


.list_17173 { width: 330px; height: 258px; background: #fff; margin: 0 0 0 20px;}
.title_17173 { position: relative; font-size: 16px; color: #a01e22; font-family: "微软雅黑"; height: 50px; background: url(../images/17173_titile.jpg) no-repeat bottom center; line-height: 50px; padding: 0 20px; }
.more_17173 { display: block; position: absolute; background: url(../images/17173_more.jpg) no-repeat; width: 74px; height: 16px; right: 20px; top: 18px; }

.iframe-17173-content {position: relative;   width: 310px;   height: 210px;   overflow: hidden;}
.iframe-17173 { position: absolute; left: -30px; width: 350px; height: 100%; top: -15px; * top: -5px;}

.content_17173 { padding: 10px 20px 0 20px; width: 290px; overflow: hidden;}
.content_17173 li { line-height: 30px; height: 30px; font-size: 14px; color: #353637; overflow: hidden;}
.content_17173 li a { color: #353637;}
.content_17173 li a:hover { text-decoration: underline; color: #353637;}

/*vido-17173 end*/

/*ADX*/
.ADX { margin: 15px auto 0;}
.ADX a { display: block; width: 240px; height: 88px; float: left; position: relative;}
.Aad1,.Aad2,.Aad3,.Aad4 { display: block; width: 240px; height: 88px;}
.Aad1 { background: url(../images/aa1.jpg) no-repeat;}
.Aad2 { background: url(../images/aa2.jpg) no-repeat;}
.Aad3 { background: url(../images/bmfs.jpg) no-repeat;background-size: 100% 100%;}
.Aad4 { background: url(../images/aa4.jpg) no-repeat;}
.Aad1:hover { background: url(../images/aa1_hover.jpg) no-repeat;}
.Aad2:hover { background: url(../images/aa2_hover.jpg) no-repeat;}
/*.Aad3:hover { background: url(../images/aaa3_hover.jpg) no-repeat;}*/
.Aad4:hover { background: url(../images/aa4_hover.jpg) no-repeat;}
/*ADX end*/


.wallpaper a { position: relative;}

.hover { background: url(../images/h.png) repeat; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 99; }


.xjQ .guan { display:block; width:199px;height:72px; margin: 0 10px 15px 0; float:left;}
.xjQ .guan:hover {background:url(../images/guanHover.png) no-repeat left top;}
.xjQ .guan2,.xjQ .guan4 {margin: 0 0 15px 0;}
.xjQ .guan3,.xjQ .guan4 { margin-bottom:0}
.guan1 { background: url(../images/guan1.jpg) no-repeat left top;}
.guan2 { background: url(../images/guan2.jpg) no-repeat left top;}
.guan3 { background: url(../images/guan3.jpg) no-repeat left top;}
.guan4 { background: url(../images/guan4.jpg) no-repeat left top;}
























