@charset "utf-8";
/* CSS Document */

/*公共样式*/
* { padding: 0; margin: 0;}

ul,ol { list-style: none;}
a { color: #222; text-decoration: none;}
a:hover { color: #ccc; transition: width .2s }
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　 
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　 
a:focus { -moz-outline-style: none; } /* IE不支持 */ 
img { border: none;}
b,i,em { font-style: normal;font-weight: normal;}
input,button,select,img{margin:0;line-height:normal}
select{padding:1px}
select,input,button,button img,label{vertical-align:middle}

.fl { float: left;}
.fr { float: right;}
.cle{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{content:".";font-size:0;line-height:0;display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}

.w { width: 1000px; margin: 0 auto;}
.q { width: 960px; margin: 0 auto;}


.topnav { background: url(../images/top-linebj.jpg) repeat-x; width: 100%; height: 81px;}
.nav { position: relative;}
.nav li { float: left; margin: 0 20px 0 0;}
.nav li > a { display: block; font-family: "微软雅黑"; font-size: 16px; color: #8ed4eb; padding: 25px 0 0; width: 100px; text-align: center; height: 76px;}
.nav li > a p { color: #066f92; font-size: 12px; text-align: center; font-family: Arial; line-height: 20px;}
.nav li > a.logo { padding: 5px 0 0; width: 215px; position: relative; z-index: 9;}
.nav li > a.logo:hover { background:  none;}
.nav li > a:hover { background: url(../images/nav-bj-hover.png) repeat-x;color: #fff;}
.data-list { background: url(../images/nav-bj-hover.png) repeat-x; position: relative; color: #fff !important;}
.data-line #dataTh { background: url(../images/nav-bj-hover.png) repeat-x; position: relative; color: #fff !important;}

.nav-list { background: url(../images/top-linebj.jpg) repeat-x; width: 100px; position: absolute; top: 81px; z-index: 10;}
.nav-list a { display: block; height: 28px; line-height: 28px; font-size: 14px; color: white; text-align: center; font-family: "微软雅黑";}
.nav-list a:hover { background: #3499ab; color: #fff;} 
/*topnav end*/

/*snav*/

.snav {}
.snavBtn,.snavBtnZ { float: left;}
.snavBtn a,.snavBtnZ a {display: block; height: 45px; line-height: 45px; text-align: center; background: #0a2935; font-family: "微软雅黑"; font-size: 16px; color: #fff;}
.snavBtn a { width:164px;}
.snavBtnZ a {  width:119px;}
.snavBtn1,.snavBtn3 { border-right: 1px solid #05141a;}
.snavBtn2,.snavBtn4 { border-left: 1px solid #0f3e50;}
.snavBtn a:hover,.snavBtnZ a:hover { background: #09374a;color: #fff;} 
.snavBtn1 a,.snavBtn2 a { border-bottom: 1px solid #0f3e50;}
.snavBtn3 a,.snavBtn4 a { border-top: 1px solid #05141a;}


/*snav end*/


/*弹出层*/

.tContent { width: 868px; height: 478px; position: relative;}
.hide { width: 48px; height: 48px; position: absolute; top: 0; right: 0; background: url(../images/tHide.jpg) no-repeat; cursor: pointer;}
.falshcontent { background: #08232c; padding: 10px; width: 800px; height: 450px; }

.footer { background: #f4f4f4 url(../images/nav_bg.png) no-repeat top center; width: 100%; padding: 10px 0; margin: 20px 0 0 0;}
.foot { padding: 20px 0;}
.allLogo { height: 41px;}
.allLogo a { display: block; background: url(../images/allLogo2.png) no-repeat; height: 41px; float: left; margin: 0 23px 0 0;}
.allLogo a.cyou { width: 90px; background-position: -3px 0;}
.allLogo a.cyldong { width: 113px; background-position: -106px 0;}
.allLogo a.dayu { width: 53px; background-position: -237px 0;}
.allLogo a.beian { width: 31px; background-position: -297px 0}

.webInfo p {font: normal 12px/22px Tahoma, Geneva, sans-serif; color: #8e8e8e;}
.webInfo p .uppercase { text-transform: uppercase; font-size: 11px; -webkit-text-size-adjust: none; }
.highlight { color: #484848; }


