@charset "utf-8";

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */color:#888888;}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#888888;}
input::-moz-placeholder { /* Mozilla Firefox 19+ */color:#888888;}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */ color:#888888;}

#body{margin:auto;padding-top:40px;width:100%;max-width:640px;min-width:320px;}
.v{display:inline;margin-left:6px;padding:2px 6px 2px 22px !important;font-size:11px;color:yellow;
    float:none!important;text-align:left;text-shadow:none!important;
    background:#bc0707 url(../../../res/ui/v.png) no-repeat 3px center;background-size:auto 12px;border-radius:3px;}

/*myinfo*/
#myinfoer{margin-top:12px;width:96%;margin-left:2%;color:white;}
  #myinfoer label{display:block;margin-top:4px;height:38px;background-color:rgba(179,135,4,0.22);color:#E6BD80;border-radius:5px;clear:both;vertical-align: middle;}
  #myinfoer label span{float:left;width:30%;height:38px;line-height:38px;text-align:right;text-shadow:0 0 3px black;}
  #myinfoer label p{float:left;margin:0;padding:0;width:70%;height:38px;line-height:38px;text-align:left;}
  #myinfoer label p input[type="text"],#myinfoer label p input[type="password"]{margin:4px 0 0 0;padding:8px 2px 2px 3px;width:80%;height:18px;line-height:14px;border:1px solid #ab8e0f;border-radius:3px;background-color:rgba(0,0,0,0.6);color:white;font-size:14px;}
  #myinfoer label p a{position:relative;float:right;color:#f2d355;padding:0 22px 0 8px;height:100%;background-color:rgba(179,135,4,0.5);text-align:center;border-top-right-radius:5px;border-bottom-right-radius:5px;}
  #myinfoer label p a:after{content:'';position:absolute;top:13px;right:8px;width:10px;height:10px;border:1px solid #f2d355;border-width:2px 2px 0 0;-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}

.btn1{padding:20px 0 30px 0;}
  .btn1 button{background-color:#e31179;color:#b05d03;margin:0;padding:12px 15px;border:none;border-radius:5px;letter-spacing:2px;font-size:18px;font-weight:bold;
    background:#02b6fa;background:linear-gradient(to bottom,#be9014,#efcd70);
    background:-webkit-gradient(linear, 0 0, 0 bottom,color-stop(0%,#be9014),color-stop(100%,#efcd70));cursor:pointer;text-shadow:0 0 3px #ffffff;
  }

.cbk{margin-top:12px;width:96%;margin-left:2%;color:white;}
  .bulletin-details{text-align:left;}
  .bulletin-sper{text-align:center;padding:1px 0 16px 0;font-size:10px;color:#888888;}
  .bulletin-sper span{margin-left:26px;}
  #bulletin h1{font-size:20px;}

#bulletion-list{width:96%;min-width:320px;max-width:640px;margin:auto;text-align:left;}
  #bulletion-list a{display:block;padding:0 3px 0 16px;background-color:rgba(179,135,4,0.22);color:#f9ebc1;line-height:38px;margin-top:4px;border-radius:5px;}

#toper2{position:fixed;margin:auto;left:0;right:0;top:0;width:100%;max-width:640px;min-width:320px;height:42px;background:#5e5436;}
  #toper2 span{float:left;position:relative;}
  #toper2 span::before{content:'';position:absolute;left:12px;top:12px;width:12px;height:12px;border:1px solid #faf0c7;border-width:0 0 2px 2px;-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}
  #toper2 p{margin:0 auto;padding:0;width:60%;}
  #toper2 a{float:left;position:relative;margin-top:5px;width:32.5%;font-size:16px;line-height:30px;color:#b05d03;background:#02b6fa;background:linear-gradient(to bottom,#0bba9f,#658202);
    background:-webkit-gradient(linear, 0 0, 0 bottom,color-stop(0%,#be9014),color-stop(100%,#efcd70));cursor:pointer;text-shadow:0 0 3px #ffffff;}
  .tpact{background:#b05d03!important;color:white!important;border-color:#b05d03!important;text-shadow:none!important;}
  .tpact::before{content:'';position:absolute;left:45%;top:24px;width:10px;height:10px;background-color:#b05d03;-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}
  .tp21{border:1px solid #cbb481;border-width:1px 0 1px 1px;border-top-left-radius:7px;border-bottom-left-radius:7px;}
  .tp22{border:1px solid #cbb481;border-width:1px 1px 1px 1px;}
  .tp23{border:1px solid #cbb481;border-width:1px 1px 1px 0;border-top-right-radius:7px;border-bottom-right-radius:7px;}

#feedback{padding: 0 0 20px 0;}
  .feedback-lst{margin:0;padding:0;list-style-type:none}
  .feedback-lst li{display:block;margin:0 0 8px 0;padding:0;text-align:left;background-color:rgba(179,135,4,0.22);color:#f9ebc1;border-radius:5px;}
  .feedback-lst li h3{margin:0;padding:0;font-weight:normal;font-size:12px;line-height:26px;padding-left:12px;background-color:rgba(179,135,4,0.22);border-top-left-radius:5px;border-top-right-radius:5px;}
  .feedback-msg{margin:0;padding:12px;word-break:break-all;text-align:justify; text-justify:inter-ideograph;}
  .feedback-reply{color:#f69554;padding:4px 12px 12px 12px;}
  .feedback-reply p{margin:0;padding:18px 0 0 0;word-break:break-all;text-align:justify; text-justify:inter-ideograph;border-top:1px solid rgba(179,135,4,0.22);}
  .feedback-reply span{float:right;right:12px;top:5px;padding:0 6px;font-size:12px;background-color:rgba(179,135,4,0.22);color:rgba(255,255,255,0.5);border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
  #msgtt{width:94%;border-radius:5px;border:1px solid #ab8e0f;background-color:rgba(0,0,0,0.6);color:white;}

#mycards{}
  #mycards input[type="text"]{margin:0;padding:6px 2px 6px 3px;float:left;width:65%;margin-left:4%;height:18px;line-height:14px;border:1px solid #ab8e0f;border-radius:3px;background-color:rgba(0,0,0,0.6);color:white;font-size:14px;}
  #mycards button{width:18%;background-color:#e31179;color:#b05d03;margin:0;padding:6px 0;border:none;border-radius:5px;letter-spacing:2px;font-size:14px;font-weight:bold;
    background:#02b6fa;background:linear-gradient(to bottom,#0bba9f,#658202);
    background:-webkit-gradient(linear, 0 0, 0 bottom,color-stop(0%,#be9014),color-stop(100%,#efcd70));cursor:pointer;text-shadow:0 0 3px #ffffff;}
  #mycardimg{display:block;margin:auto;width:95%;max-width:500px;height:auto;border:none;border-radius:5px;box-shadow:0 0 12px white;}

/*showroom*/
#showroom{margin-top:12px;min-width:320px;}
  .dv_list{clear:both;margin-top:10px;padding:16px 2% 4px 2%;background-color:rgba(179,135,4,0.22);position:relative;border-bottom:1px solid rgba(179,135,4,0.3);}
  .dv_img{position:relative;float:left;width:20%;text-decoration:none;padding-top:5px;}
    .dv_img img{width:100%;height:auto;border:none;border-radius:5px;}
    .dv_pt{position:absolute;left:0;width:100%;margin-top:5px;padding:3px 0;background:#000000;font-size:10px;color:#cccccc;text-align:center;border-radius:3px;}
    @media only screen and (min-width:0px) and (max-width:400px){.dv_pt2{bottom:-20px;}.dv_list p{float:left;margin:0 0 0 3%;padding:0;width:60%;text-align:left;}}
    @media only screen and (min-width:400px) and (max-width:500px){.dv_pt2{bottom:-15px;}.dv_list p{float:left;margin:0 0 0 4%;padding:0;width:60%;text-align:left;}}
    @media only screen and (min-width:500px) {.dv_pt2{bottom:-10px;}.dv_list p{float:left;margin:0 0 0 5%;padding:0;width:60%;text-align:left;}}
  
    .dv_name{font-size:18px;font-weight:bold;color:#EBD47A;vertical-align: middle}
	.dv_inventory{position:absolute;top:12px;right:2%;color:#888888;line-height:32px;font-size:12px;}
    .dv_cap{display:block;font-size:12px;line-height:20px;color:#E6BD80;}
    .dv_exp{display:block;font-size:12px;line-height:20px;color:#E6BD80;}
    .dv_price{display:block;line-height:32px;color:#E6BD80;}
      .dv_cucd{font-size:10px;}
      .dv_pricenm{font-size:20px;font-weight:bold;color:#E73408;text-shadow:0 0 3px black;}
    .dv_buybtn{background-color:#e31179;color:#b05d03;margin:0;padding:12px 15px;border-radius:5px;letter-spacing:2px;font-size:18px;font-weight:bold;
    position:absolute;top:40%;right:2%;height:20%;
    background:#02b6fa;background:linear-gradient(to bottom,#be9014,#efcd70);
    background:-webkit-gradient(linear, 0 0, 0 bottom,color-stop(0%,#be9014),color-stop(100%,#efcd70));cursor:pointer;text-shadow:0 0 3px #ffffff;}
    .dv_wprice{color:#888888;text-decoration:line-through;}
.dv_img2{width:30%;height:auto;float:left;margin-left:5%;border-radius:5px;}
.dv_details{color:#E6BD80;padding:12px 20px;text-align:left;}
  .dv_details p{text-indent:2em;line-height:32px;}
  .dv_no{font-size:12px;font-weight:normal;line-height:22px;}
  .dv_init,.dv_running,.dv_expired{display:block;padding:0 6px;line-height:30px;height:30px;border-radius:5px;font-size:14px;font-weight:bold; position:absolute;top:35%;right:2%;}
  
  .dv_init,.dv_init a{color:#9fca0a;border:1px dashed #9fca0a;}
  .dv_running,.dv_running a{color:white;background-color:#f15525;}
  .dv_expired,.dv_expired a{color:white;background-color:#787575;}
  .hasReceived{display:block;padding:0 6px;line-height:16px;height:16px;border-radius:3px;font-size:10px;
				position:absolute;bottom:20%;right:4%;color:#9fca0a;border:1px dashed #9fca0a;}

/*.dv_returns1*/
.dv_rt1{color:white;width:98%;margin-left:1%;}
  .dv_rt1_t1{float:left;width:32%;text-align:center;color:#bbbbbb;}
  .dv_rt1_t2{float:left;width:32%;text-align:center;color:#bbbbbb;}
  .dv_rt1_t3{float:left;width:35%;text-align:right;padding-right:1%;color:#bbbbbb;}
  .dvrtrow{clear:both;background-color:rgba(189,143,2,0.24);margin-top:6px;border-radius:9px;}
    .dvrtrow p{color:#e7d679;line-height:22px;}
	.dvrtrow p span{display:block;font-size:12px;line-height:22px;color:#888888;}
    .dvrtname{float:left;width:32%;}
	.dvrtno{float:left;width:32%;}
	.dvrttotal{float:left;width:35%;text-align:right;padding-right:1%;}
	  .dvrttotal a{font-size:20px;font-weight:bold;color:#E73408!important;text-shadow:0 0 3px black;line-height:42px;}
 
  .dv_rt1_t11{float:left;width:28%;text-align:center;color:#bbbbbb;}
  .dv_rt1_t21{float:left;width:32%;text-align:right;color:#bbbbbb;}
  .dv_rt1_t31{float:left;width:35%;padding-left:5%;text-align:center;color:#bbbbbb;}
  .dvrtrow2{clear:both;background-color:rgba(189,143,2,0.24);margin-top:2px;border-radius:9px}
  .dvrtrow2 p{float:left;margin:0;line-height:22px;color:#bbbbbb;}
  .dv_desc1{font-size:12px;color:#aaaaaa;padding-top:2px;line-height:24px;}
   
  .returns1{width:28%;padding:0;}
  .returns2{width:32%;text-align:right;padding:0;}
  .returns3{position:relative;padding-left:5%;width:35%;text-align:left;}

  /*received bouns*/
  .norvdsrow{background-color:rgba(189,143,2,0.5);}
  .dvbouns1{width:28%;padding:0;}
  .dvbouns2{width:32%;text-align:right;padding:0;}
  .dvbouns3{position:relative;padding-left:5%;width:35%;text-align:left;}
    .dvbouns3 span{margin-left:3px;font-size:10px;padding:2px;border-radius:3px;line-height:10px;}
  .norvd{background-color:#D6085A;}
  .rved {}
  .receive_bouns_tips{font-size:12px;color:#888888;}
  #receive_bouns{background-color:#D6085A;color:white;border:none;border-radius:5px;padding:6px 12px;}

.nottips {width:92%;margin-left:2%;background:#F4CEB5;color:red;padding:12px 2%;text-align:left;border: 1px solid #E6945D;border-radius:5px;}


.fpages{clear:both;padding:18px 0 2px 0;text-align:center;color:#bbbbbb;}
.fpages select{border:1px solid #be5904;border-radius:3px;}
.fpages a{padding:6px 4px;text-decoration:none;border-radius:5px;font-size:12px;}
	.fpages a:link,.fpages a:visited{background-color:#be5904;color:#cccccc;}
	.fpages a:hover{background-color:white;color:#cccccc;}
	.fpages_extinf{color:#bbbbbb;font-size:12px;display:block;padding-top:8px;text-align:center;}

/**/
.myteam{padding-top:18px;}
#teampower{float:left;width:50%;}
  #teampower h2{margin:0;padding:0;font-weight:normal;font-size:18px;color:#e7d679;}
  #teampower h4{margin:0;padding:0;line-height:32px;color:#aaaaaa;font:10px normal;}
  #teampower h3{margin:0;padding:0;line-height:60px;font-size:32px;color:#ff0018}
#teamworker{float:left;width:50%;}
  #teamworker h2{margin:0;padding:0;font-weight:normal;font-size:18px;color:#e7d679;}
  #teamworker h4{margin:0;padding:0;line-height:32px;color:#aaaaaa;font:10px normal;}
  #teamworker h3{margin:0;padding:0;line-height:60px;font-size:32px;color:#ff7200;}
#child-and-teamtt{width:80%;margin-left:10%;}
  #child-and-teamtt p{float:left;position:relative;margin:0;padding:0;width:49.5%;font-size:18px;line-height:38px;vertical-align: middle}
  #child-and-teamtt p span{font-size:12px;line-height:38px;vertical-align: middle}
  #childtt{border-top-left-radius:9px;border-bottom-left-radius:9px;border:1px solid #b65903;border-right:none;}
  #teamtt{border-top-right-radius:9px;border-bottom-right-radius:9px;border:1px solid #b65903;border-left:none;}
  .childttbtn-a{color:white;background-color:#b65903;}
    .childttbtn-a:after{content:'';position:absolute;bottom:-6px;left:46.5%;width:12px;height:12px;background-color:#b65903;-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}
  .childttbtn-n{color:#ff7200;}

/**/

#team-list{width:98%;font-size:12px;line-height:12px;margin:24px 0 0 1%;color:white;}
  .tml-sp{height:3px;}

  .tmlco{width:30px;padding:0 20px;height:68px;background:rgba(189,143,2,0.24) no-repeat center center;background-size:90% auto;border-top-left-radius:7px;border-bottom-left-radius:7px;}
    .tmlstar0{background-image:url(star0.png);color:#cccccc;text-shadow:0 0 3px #000000;line-height:24px;}
	.tmlstar1{background-image:url(star1.png);text-shadow:0 0 3px #9a0715;}
	.tmlstar2{background-image:url(star2.png);}
	.tmlstar3{background-image:url(star3.png);text-shadow:0 0 3px #580512;}
	.tmlstar4{background-image:url(star4.png);text-shadow:0 0 3px #ffffff;color:#b5041f;}

  .tmlname{width:30%;text-align:left;background:rgba(189,143,2,0.24);}
    .tmlnickname{font-size:14px;color:#e7d679;}
	.tmlphone{display:block;color:#888888;line-height:22px;}
	.tmldvn{color:#888888;}

  .tmldesc{background:rgba(189,143,2,0.24);border-top-right-radius:7px;border-bottom-right-radius:7px;color:#e7d679;font-size:11px;}
  .tmldesc table th{text-align:left;height:20px;font-weight:normal;}
  .tmldesc table td{text-align:left;padding:2px 2px 0 0;}

/*market*/
#market1{margin-top:-15px/*having media*/;padding:2px 0 1px 0;background-color:#1c1c1c;}
#dttb{color:white;width:98%;margin:8px 1% 0 1%;border-bottom:4px solid #1c1c1c;}
  #dttb th{color:#aaaaaa;text-align:right;}
  #dttb td{text-align:center;}/* having @media for padding*/
  #curprice{text-align:center!important;}
  #curprice p{font-size:32px;margin:0;padding:0;}
  #curprice div{text-align:center;}
  #curprice div span{margin-left:12px;}

.mviewtt{margin-top:1px;color:#8e8e93;background-color:#0d0d0d;}
  .mviewtt p{float:left;width:20%;line-height:24px;margin:0;padding:10px 0 0 0;text-align:center;font-size:16px;}
  .mviewtta{color:#ff7200;border-bottom:3px solid #ff7200;}

#mview{float:left;clear:left;margin:1px 0 auto auto;width:70%;height:200px;background-color:#000000;color:White;}

#buysale{float:left;margin-top:1px;margin-left:0.5%;width:29.5%;padding-top:6px;height:194px;background-color:#000000;}
  #buysale p{margin:0;padding:0;color:#8e8e98;line-height:18px;}
  #buysale p span{float:right;width:32%;text-align:right;}
  .bsspe{margin-bottom:6px!important;padding-top:5px!important;border-bottom:1px solid #262626;}
  .bsa{color:white;padding-right:3px;font-size:11px;}
  .r{color:red;}
  .g{color:#1DC01D;}
  .big{background-color:rgba(252,221,13,.3);}

#bigbs{float:left;position:relative;width:30%;margin:1px 0 auto auto;padding-right:2%;background-color:black;height:183px;}
  #bigbs h2{position:absolute;right:-10px;top:20px;margin:auto;padding:0;width:14px;color:#ff7200;font-size:11px;line-height:14px;font-weight:normal;height:100%;}
  #bigbs h2 span{position:absolute;left:50%;top:45px;width:1px;height:118px;border-left:1px solid #6c6c6c;}
  #bigbs div{padding-top:2px;}
  #bigbs p{margin:0;padding:0;color:#8e8e98;line-height:17px;}
  #bigbs p span{float:right;width:32%;text-align:right;}
  .bsspe2{margin-bottom:5px!important;padding-top:4px!important;border-bottom:1px solid #262626;}


#excomplete{}
.excomplete_forbig{float:left;margin:1px 0 auto auto;width:38%;height:183px;background-color:#000000;}
.excomplete{float:left;margin:1px 0 auto auto;width:70%;height:183px;background-color:#000000;}
  #excomplete h2{margin:0;padding:0;color:#8c8c91;font-size:12px;background-color:#1c1c1c;font-weight:normal;}
  #excomplete table{width:95%;margin:auto;margin-left:5%;color:#8c8c91;line-height:18px;margin-top:2px;}
  #excomplete td[class="excopp"]{display:none}

#excing{float:left;margin-top:1px;margin-left:0.5%;width:29.5%;height:183px;background-color:#000000;}
  #excing h2{margin:0;padding:0;color:#8c8c91;font-size:12px;font-weight:normal;}
  #excing div{padding-top:2px;}
  #excing div p{margin:0;padding:0 0 0 2px;color:#8e8e98;line-height:18px;clear:both;}
  #excing div p span{float:right;width:32%;text-align:right;position:relative;}
  .gup{}
    .gup:after{content:'¡ü';position:absolute;top:-2px;right:-6px;color:red;font-size:11px;}
  .gdown{}
    .gdown:after{content:'¡ý';position:absolute;top:-2px;right:-6px;color:green;font-size:11px;}
    
  @media only screen and (max-width:349px){
    #dttb{font-size:12px;}
    #dttb td{padding:0px;}
    #buysale p,#bigbs p{font-size:12px;}
    #excing{font-size:12px;}
    #excomplete table{font-size:12px;}
  }
  @media only screen and (min-width:349px) and (max-width:500px){
    #dttb{font-size:13px;}
    #market1{margin-top:-10px;}
	#dttb td{padding:2px 0;}
    #buysale p,#bigbs p{font-size:13px;}
    #excing{font-size:13px}
    #excomplete table{font-size:13px;}
  }
  @media only screen and (min-width:500px){
    #dttb{font-size:13px;}
    #dttb td{padding:4px 0;}
    #buysale p,#bigbs p{font-size:13px;}
    #excing{font-size:13px;}
    #excomplete table{font-size:13px;}
  }

.extp{display:none;}
#extp0{display:block;}

  /*market*/
    .mbbuy{color:red;}
	.mbsale{color:#7c76f6}

    #mbbuy_{position:fixed;margin:auto;left:0;right:0;bottom:0;width:100%;max-width:640px;min-width:320px;background:#ffffff;color:#000000;border-top:1px solid #262626;}
    #mbbuy_c{padding:8px;text-align:left;}
	  #mbb_account{margin:0;padding:2px 0 0 0;line-height:40px;color:#888888;font-size:16px;border-bottom:1px solid #efefef;}
	  #mbb_account span{padding:4px 6px;background-color:#888888;color:white;border-radius:13px;font-size:12px;}
	  #mbb_amount{position:absolute;right:6px;top:18px;color:#666666;font-size:12px;}
	  #mbbuy_ h3{float:left;width:45%;margin:0;padding:0;line-height:42px;text-align:center;}
	    #mbb_qtt{margin-left:10%!important;}
	  .mbb_ipd1{float:left;width:45%;}
	  .mbb_ipd2{float:left;width:45%;margin-left:10%}
		.mbb_ipd1 input,.mbb_ipd2 input{float:left;margin:0;padding:0;width:47.5%;height:34px;font-size:16px;line-height:34px;border:1px solid #cccccc;border-radius:0;text-align:center;border-top-left-radius:5px;border-bottom-left-radius:5px;}
		.subtract{float:left;position:relative;width:25%;border:1px solid #cccccc;border-width:1px 0 1px 0;line-height:34px;text-align:center;font-size:12px;color:#888888;font-weight:bold;}
		.subtract:after{content:'';position:absolute;right:0;top:9px;width:12px;height:16px;border-right:1px solid #cccccc;}
		.add{float:left;width:25%;border:1px solid #cccccc;border-width:1px 1px 1px 0;line-height:34px;text-align:center;font-size:20px;color:#888888;font-weight:bold;border-top-right-radius:5px;border-bottom-right-radius:5px;}
	  #mbbppbtn{padding:14px 0;position:relative;}
	    #mbbppbtn p:first-child{margin-left:0;}
	    #mbbppbtn p{display:inline;margin:0 0 0 12px;padding:6px 5px;background-color:#efefef;border-radius:9px;font-size:12px;}
		#quantitytip{position:absolute;right:6px;top:14px;font-size:13px;}
		#mbtn-no{width:47%;margin:6px 0 0 0;padding:0;border:1px solid #cccccc;color:#888888;background-color:white;border-radius:5px;line-height:38px;font-size:16px;}
		#mbtn-ok{width:47%;margin:6px 0 0 6%;padding:0;color:white;border-radius:5px;line-height:38px;font-size:16px;}
		.mbt1{background-color:#d22a1b;border:1px solid #d22a1b;}
		.mbt2{background-color:#4272bc;border:1px solid #4272bc;}
		.mbting{background-color:#888888;border:1px solid #888888;color:#cccccc;}
		.bigbuy{background-color:#d22a1b;color:yellow;padding:2px 4px;border-radius:3px;}
		.bigsale{background-color:#4272bc;color:yellow;padding:2px 4px;border-radius:3px;}
  #mbb_mode{margin:5px 0;padding:3px 0 3px 8px;background-color:#eeeeee;font-size:13px;text-align:left;border-radius:5px;}
  #dphone{width:110px;margin:0 0 0 8px;padding:0 3px;border:1px solid #dddddd;line-height:22px;font-size:13px;border-radius:3px}
  
  .extmore{
	-moz-transition: all 0.1s ease-in-out 0.1s;
     -webkit-transition: all 0.1s ease-in-out 0.1s;
     -o-transition: all 0.1s ease-in-out 0.1s;
     transition: all 0.1s ease-in-out 0.1s;
	 filter:alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;
	}

  #bm2{position:fixed;left:0;right:0;bottom:30px;margin:auto;padding:12px 0 0 0;width:100%;max-width:640px;min-width:320px;height:68px;background:rgba(10,10,10,.86);color:#7f7f83;border-top:1px solid #262626;}
  #bm2 p{float:left;position:relative;width:25%;margin:8px 0;padding:0;line-height:50px;height:100%;}
  #bm2 .svgb{margin-top:-2px;width:48px;height:48px;}
  #bm2 .svgs{width:48px;height:48px;}
  #bm2 p span[class="bm2hb"]{position:absolute;left:0;right:0;top:7px;margin:auto;color:#cccccc;font-size:12px;line-height:12px;}
    #bm2 p span[class="bm2hb"] span{display:block;color:white;font-size:18px;line-height:24px;font-weight:bold;}
  #bm2 p span[class="bm2h"]{position:absolute;left:0;right:0;top:-1px;margin:auto;font-weight:bold;color:white;font-size:18px;}
  #bm2 p span[class="bm2hex"]{position:absolute;left:0;right:0;top:7px;margin:auto;color:black;font-size:13px;line-height:16px;}

  #bm2 p span[class="bm2tsb"]{font-size:12px;display:block;line-height:14px;padding-top:2px;}
  #bm2 p span[class="bm2tbb"]{font-size:12px;display:block;line-height:14px;padding-top:2px;}
  #bm2 p span[class="bm2ts"]{font-size:12px;display:block;line-height:14px;}
  #bm2 p span[class="bm2tb"]{font-size:12px;display:block;line-height:14px;}
   


.myexchange{color:white;width:98%;margin-left:1%;}
  .mychange_head{margin:auto;width:90%;height:28px;line-height:28px;}
    .mychange_head h4{float:left;position:relative;margin:5px 0 8px 0;padding:0;text-align:center;}
  .mychangea{color:white;background-color:#b65903;}
    .mychangea:before{content:'';position:absolute;bottom:-4px;left:46.5%;width:8px;height:8px;background-color:#b65903;-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);}
  .mychangen{color:#ff7200;}
  .mychange1{width:33%;border:1px solid #b65903;border-right:none;border-top-left-radius:7px;border-bottom-left-radius:7px;}
  .mychange2{width:32.5%;border:1px solid #b65903;}
  .mychange3{width:33%;border:1px solid #b65903;border-left:none;border-top-right-radius:7px;border-bottom-right-radius:7px;}
  /*myexchange list*/
  .mc_list{width:98%;margin:auto;}
  .mc_tt{color:#bbbbbb;clear:both;}
    .mc_tt p{float:left;margin:0;padding:0;font-size:12px;}
	.mc_time{width:20%;text-align:right;}
	.mc_price{width:30%;}
	.mc_quantity{width:20%;text-align:left;}
	.mc_status{width:30%;}
	.hptips{padding:2px;border-radius:2px;color:black;background-color:yellow;}

	@media only screen and (max-width:370px){.mc_l p,.mc_l2 p{font-size:13px;}}
	@media only screen and (min-width:370px){.mc_l p,.mc_l2 p{font-size:14px;}}
	.mc_ots{position:absolute;left:12px;top:10px;padding:0 2px;background-color:rgb(210,42,27);color:yellow;font-size:10px;border-radius:2px;}
	.mc_otb{position:absolute;left:12px;top:10px;padding:0 2px;background-color:rgb(66,114,188);color:white;font-size:10px;border-radius:2px;}
	.mc_otd{position:absolute;left:1px;top:10px;padding:0 1px;background-color:yellow;color:black;font-size:10px;border-radius:2px;}
	.mc_lsale{background-color:rgba(210,42,27,.6);}
	.mc_lbuy{background-color:rgba(66,114,188,.6);/*background-color:rgba(189,143,2,.7);*/}
    .mc_l{clear:both;position:relative;margin-top:10px;padding:8px 0;border-top-left-radius:9px;border-top-right-radius:9px;}
	  .mc_l p{float:left;margin:0;padding:0;color:#dddddd;}
	  .mc_t{width:20%;text-align:right;}
	  .mc_p{width:30%;}
	  .mc_q{width:20%;text-align:left;}
	  .mc_s{width:30%;}
	 .cancel-exchange{margin-left:8px;border:1px solid white;border-radius:3px;padding:2px 3px;}

    .mc_l2{clear:both;background-color:rgba(189,143,2,0.2);padding:3px 0;border-bottom-left-radius:9px;border-bottom-right-radius:9px;color:#aaaaaa;
			border-bottom:1px solid rgba(189,143,2,.3);}
	  .mc_exc{position:relative;height:26px;margin-top:1px;clear:both;}
	   .mc_exc p{float:left;margin:0;padding:8px 0;}
	  .mc_t2{width:20%;text-align:right;}
	  .mc_p2{width:30%;}
	  .mc_q2{width:20%;}
	  .mc_s2{width:30%;}
	.mc_ot2s{padding:0 4px 0 0;color:red;font-size:11px;}
	.mc_ot2b{padding:0 4px 0 0;color:rgb(66,114,188);font-size:11px;}
	

	.mxd{clear:both;position:relative;border-top:2px dashed #2f2202;padding:8px 6px 4px 6px;color:#222222;background-color:rgb(255,255,255);font-size:12px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;}
	.mxd:after{content:'';position:absolute;left:12px;top:-7px;width:15px;height:15px;background-color:rgb(255,255,255);-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg);}
	  .mxd p{float:left;padding:2px 0;}
	  .mxdtnc{margin:0;}
	  .mxdtnm,.mxdtph{margin:0 0 0 8px;}
	  .mxdtwx{margin:0;clear:left;}
	  .mxdtal{margin:0 0 0 8px;}
	  .mxdtcd{margin:0;clear:left;}
	  .mxdtam{margin:0 0 0 12px;}
	  .mxdt{font-size:10px!important;color:#888888;}
	  .mxdd{margin:0;font-size:12px;}

	 .mc_exbtn1{clear:both;margin:8px 0 12px 0;padding:0;width:50%;height:28px;line-height:28px;border:2px solid #842402;
				border-width:0 1px 2px 0;background-color:#bf3505;color:white;border-radius:5px;font-size:14px;}
	 .mc_exbtn2{clear:left;margin:8px 0 12px 0;padding:0;width:35%;height:28px;line-height:28px;border:2px solid #55314c;
				border-width:0 1px 2px 0;background-color:#7c4f71;color:white;border-radius:5px;font-size:14px;}
	 .mc_exbtn3{clear:right;margin:8px 0 12px 15%;padding:0;width:35%;height:28px;line-height:28px;border:2px solid #AF0C4D;
				border-width:0 1px 2px 0;background-color:#DE1062;color:white;border-radius:5px;font-size:14px;}

  /*exchange history*/
  @media only screen and (max-width:370px){.mch_l p,.mch_l2 p{font-size:12px;}}
  @media only screen and (min-width:370px){.mch_l p,.mch_l2 p{font-size:14px;}}
  .mch_tt{color:#bbbbbb;clear:both;}
  .mch_tt p{float:left;margin:0;padding:0;}
  .mch_time{width:26%;max-width:120px;text-align:right;}
  .mch_price{width:16%;}
  .mch_quantity{width:10%;text-align:left;color:#888888!important;}
  .mch_quantity2{width:10%;text-align:left;margin-left:1%!important;}
  .mch_status{width:33%;margin-left:3%!important;}

  .mch_l{clear:both;position:relative;margin-top:5px;padding:6px 0;border-top-left-radius:9px;border-top-right-radius:9px;}
  .mch_l p{float:left;margin:0;padding:0;color:#dddddd;}
	.mch_lsale{background-color:rgba(210,42,27,.5);}
	.mch_lbuy{background-color:rgba(66,114,188,.5);/*background-color:rgba(189,143,2,.7);*/}
	  .mch_t{width:26%;max-width:120px;text-align:right;}
	  .mch_p{width:16%;}
	  .mch_q{width:10%;text-align:left;color:#888888!important;}
	  .mch_q2{width:10%;text-align:left;margin-left:1%!important;}
	  .mch_s{width:33%;margin-left:1%!important;}
	.mch_ots{position:absolute;left:12px;top:7px;padding:0 2px;background-color:rgb(210,42,27);color:yellow;font-size:10px;border-radius:2px;}
	.mch_otb{position:absolute;left:12px;top:7px;padding:0 2px;background-color:rgb(66,114,188);color:white;font-size:10px;border-radius:2px;}
	.mch_otd{position:absolute;left:3px;top:7px;padding:0 1px;background-color:yellow;color:black;font-size:10px;border-radius:2px;}
    .mch_l2{clear:both;background-color:rgba(189,143,2,0.2);padding:3px 0;border-bottom-left-radius:9px;border-bottom-right-radius:9px;color:#aaaaaa;
			border-bottom:1px solid rgba(189,143,2,.3);}
	.mch_disputes{position:absolute;right:1px;top:-2px;width:12px;height:12px;background-color:red;color:white;border-radius:50%;font-size:11px;line-height:10px;padding:2px;}
	.loadgifH{padding:0 5px;background-color:white;border-bottom-left-radius:11px;border-bottom-right-radius:11px;}
	.loadgifH img{padding:8px;width:40px;height:auto;}
/*safecheck*/
#safecheckimgcode{margin:7px 2px 0 0;width:98px;height:auto;float:left;border-radius:5px;}