  <div class="viewcon" style="display: block;">
   <if condition="$ppdd_count eq 0">
   <div>
      该申请单还未匹配
   <div>
   </if>
   <if condition="$ppdd_count neq 0">
   <div>
    已匹配金额：{$tgbz_ppjb}
   </div>
   <foreach name="ppdd_list" item="pp">
   <div class="l_item lout status_pp_p_{$pp.pporderid|get_pp_p_status=###} open" >
    <span class="orderid">订单号{$pp.orderid}</span>
    <span> (匹配卖出订单{$pp['jsbz_data']['orderid']}))</span>
    <div>
     <div class="bj status_pp_p_{$pp.pporderid|get_pp_p_status=###}"></div>
     <div>
      <span class="bold">您 &gt; <span class="cash">{$pp.jb}</span> &gt; {$pp['jsbz_user']['ue_theme']}</span>
      <span>订单创建日期:{$pp.date}</span>
	  <span style="font-size:10px;color:#14369a;font-weight:bold;">
	      类型：{$pp.p_id|get_prepayorfinal=###}
	  </span>
     </div>	 		
    </div>
   </div>
   <div class="viewcon lout" style="display: none;">
    <div>
     <span class="left">打款人：</span>
     <span>{$userData['ue_theme']}({$userData['ue_phone']|replace_xing=###})</span>
    </div>
    <div>
     <span class="left">打款人领导人：</span>
     <span>{$userAccData['ue_theme']}({$userAccData['ue_phone']|replace_xing=###})</span>
    </div>
    <div class="card">
     <div>
      <span class="left">银行：</span>
      <span>{$pp['jsbz_user']['yhmc']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">卡号：</span>
      <span class="clickbank">{$pp['jsbz_user']['yhzh']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">支行：</span>
      <span>{$pp['jsbz_user']['yhzhxx']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">持有人：</span>
      <span>{$pp['jsbz_user']['yhckr']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">支付宝：</span>
      <span>{$pp['jsbz_user']['zfb']|authcode_decode=###}</span>
     </div>
	 <div>
      <span class="left">微信：</span>
      <span>{$pp['jsbz_user']['weixin']|authcode_decode=###}</span>
     </div>
     <div>
      <span class="left">备注：</span>
      <span>{$pp['jsbz_user']['remark']}</span>
     </div>
    </div>
    <div>
     <span class="left">收款人：</span>
     <span>{$pp['jsbz_user']['ue_theme']}({$pp['jsbz_user']['ue_phone']|replace_xing=###})</span>
    </div>
    <div>
     <span class="left">收款人领导人：</span>
     <span>{$pp['jsbz_accname']['ue_theme']}({$pp['jsbz_accname']['ue_phone']|replace_xing=###})</span>
    </div>
    <div>
     <span>打款时间：{$pp.date}</span>
    </div>
    <div>
     <if condition="$pp.pic neq '0'" ><a class="btn btn-success viewimg" data="{$pp.pic}">查看打款凭证</a></if>
    </div>
   </div>
   </foreach>
   </if>
  </div>