* {
	font-size: 12px;
}
a {
	color: rgb(94, 58, 198);
}
a:hover {
	color: rgb(123, 94, 208);
}
body {
	width: 100%; color: rgb(106, 108, 111); font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 62.5%; min-width: 980px;
}
#box {
	margin: 15px auto 5px; border-radius: 10px; width: 98%; box-shadow: 1px 1px 3px #333; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
h2 {
	margin: 10px 0px; color: rgb(68, 68, 68); font-size: 14px; font-weight: bold; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: dashed; text-shadow: 1px 1px 1px #fff;
}
h2 img {
	margin: 0px 6px -14px -4px; width: 46px;
}
.conteudo {
	background: rgb(240, 240, 240); margin: 20px auto 0px; padding: 10px 0px 20px; border-radius: 10px; overflow: hidden; font-size: 13px; max-width: 980px; box-shadow: 1px 1px 3px #333; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.conteudo_full {
	background: rgb(240, 240, 240); padding: 10px; border-radius: 10px; overflow: hidden; font-size: 13px; box-shadow: 1px 1px 3px #333; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.categoria {
	margin: 10px;
}
.categoria input {
	margin: 5px; padding: 5px; border: currentColor; border-image: none; width: 180px; font-size: 16px; float: left;
}
a.link {
	padding: 5px 10px; border-radius: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; float: left; -webkit-border-radius: 3px; moz-border-radius: 3px;
}
a.link:hover {
	background: rgb(255, 255, 255);
}
a.link:active {
	box-shadow: inset 0px 0px 3px #333;
}
.Data {
	margin: 5px 0px 5px 10px; width: 310px; font-size: 18px; float: left;
}
.grid_6 {
	width: 740px; float: left;
}
.content {
	float: left; min-width: 1200px;
}
.container_12 {
	width: 100%; margin-right: 0px; margin-left: 0px;
}
.nindsa_right {
	
}
.menus ul {
	
}
.menus ul li {
	list-style: none; float: left;
}
.menus ul li a {
	background: rgb(232, 232, 232); margin: 9px 18px 9px 0px; padding: 5px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; height: 104px; text-align: center; color: rgb(119, 119, 119); font-size: 15px; float: left; position: relative; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.menus ul li a img {
	margin: 5px 16px 1px; width: 80px;
}
.menus ul li a:hover {
	background: rgb(249, 249, 249); border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; box-shadow: 1px 1px 2px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.menus ul li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(193, 193, 193); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.atalho_Advertise {
	background: rgb(232, 232, 232); padding: 5px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 70px; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.atalho_Advertise li {
	list-style: none; width: 150px; text-align: center; float: left;
}
.atalho_Advertise li a {
	margin: 7px 0px 0px; font-size: 14px; display: block;
}
.banner_fimDeAno {
	background: url("../img/selos/fimdeano_bg.jpg") center rgb(4, 5, 15); margin: 10px 0px 20px; border-radius: 5px; border: 1px solid rgb(3, 4, 12); border-image: none; height: 170px; position: relative; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.banner_fimDeAno h2 {
	border: currentColor; border-image: none; text-indent: -8888px; z-index: 999999;
}
.banner_fimDeAno h2 img {
	margin: -10px auto 0px; width: 601px; height: 170px; display: block; z-index: 9999;
}
.banner_fimDeAno div.msg {
	background: rgb(205, 206, 209); padding: 5px; border-radius: 0px 5px 5px 0px; top: -1px; width: 230px; height: 162px; text-align: center; right: -1px; color: rgb(5, 6, 17); font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; position: absolute; -webkit-border-radius: 0 5px 5px 0; moz-border-radius: 0 5px 5px 0;
}
.banner_fimDeAno div.msg h6 {
	margin: 10px 0px; color: rgb(5, 6, 17); text-transform: uppercase; font-size: 16px;
}
.banner_fimDeAno img.presente {
	left: 0px; top: 0px; position: absolute;
}
.banner_natal {
	background: url("../img/selos/bg_natal.jpg") center; margin: 10px 0px 20px; border-radius: 5px; border: 1px solid rgb(203, 1, 1); border-image: none; height: 170px; position: relative; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.banner_natal h2 {
	border: currentColor; border-image: none; text-indent: -8888px;
}
.banner_natal h2 img {
	margin: 0px auto; width: 830px; height: 160px; display: block; z-index: 999;
}
.banner_natal div.msg {
	background: url("../img/selos/natal_msg.png") left top; padding: 20px 10px 10px 90px; border-radius: 0px 5px 5px 0px; top: -1px; width: 210px; height: 142px; text-align: center; right: -1px; color: rgb(87, 57, 19); font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; position: absolute; -webkit-border-radius: 0 5px 5px 0; moz-border-radius: 0 5px 5px 0;
}
.banner_natal div.msg h6 {
	color: rgb(87, 57, 19); font-size: 16px; border-bottom-color: rgb(87, 57, 19); border-bottom-width: 1px; border-bottom-style: solid;
}
.banner_natal img.presente {
	left: 0px; top: 0px; position: absolute;
}
.banner_carnaval {
	background: url("../../../public/img/carnaval.jpg") bottom; margin: 10px 0px 20px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 150px; position: relative; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.banner_carnaval .msg {
	background: url("../../../public/img/msg_carnaval.png") left top; padding: 34px 0px 0px 26px; top: -10px; width: 180px; text-align: center; right: 0px; bottom: 0px; position: absolute;
}
.banner_extravaganza {
	background: url("../img/extravaganza_bg.jpg") center; margin: 10px 0px 20px; padding: 10px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; position: relative; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.banner_extravaganza_comprado {
	background: url("../img/extravaganza_bg.jpg") center; margin: 10px 0px 20px; padding: 10px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; position: relative; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.banner_extravaganza h2 {
	border: currentColor; border-image: none; text-indent: -8888px;
}
.banner_extravaganza_comprado h2 {
	border: currentColor; border-image: none; text-indent: -8888px;
}
.banner_extravaganza h2 a img {
	margin: 0px auto; width: 400px; display: block; z-index: 999;
}
.banner_extravaganza_comprado h2 a img {
	margin: 0px auto; width: 400px; display: block; z-index: 999;
}
.banner_extravaganza a.fechar {
	background: rgb(51, 51, 51); padding: 0px 0px 0px 5px; border-radius: 0px 5px 0px 0px; top: 0px; width: 11px; height: 20px; right: 0px; color: rgb(255, 255, 255); display: block; position: absolute; opacity: 0.7; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0;
}
.banner_extravaganza_comprado a.fechar {
	background: rgb(51, 51, 51); padding: 0px 0px 0px 5px; border-radius: 0px 5px 0px 0px; top: 0px; width: 11px; height: 20px; right: 0px; color: rgb(255, 255, 255); display: block; position: absolute; opacity: 0.7; -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0;
}
.banner_extravaganza a.btn_comprar {
	padding: 2px 5px; border-radius: 3px; border: 1px solid rgb(59, 34, 135); border-image: none; left: 5px; bottom: 5px; color: rgb(59, 34, 135); text-transform: uppercase; font-size: 11px; position: absolute; -webkit-border-radius: 3px; moz-border-radius: 3px;
}
.banner_extravaganza_comprado a.btn_comprar {
	padding: 2px 5px; border-radius: 3px; border: 1px solid rgb(59, 34, 135); border-image: none; left: 5px; bottom: 5px; color: rgb(59, 34, 135); text-transform: uppercase; font-size: 11px; position: absolute; -webkit-border-radius: 3px; moz-border-radius: 3px;
}
.banner_extravaganza_comprado div.msg {
	background: rgb(232, 232, 232); padding: 2px 0px; left: 0px; top: 0px; width: 100%; text-align: center; position: absolute;
}
.banner_extravaganza a.agencia {
	background: url("/bo/public/img/extravaganza_turismo.png") no-repeat right; top: 25px; width: 149px; height: 60px; right: 0px; text-indent: -8888px; position: absolute;
}
.banner_soutelexfree {
	background: url("../img/sou100porcentotelexfree.jpg") no-repeat center rgb(255, 255, 255); height: 110px; text-align: center; margin-bottom: 20px;
}
.banner_soutelexfree a img {
	margin: 0px; width: 180px;
}
.menus ul li a div.new {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.menus ul li a div.favo {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.menus ul li a div.alert {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.menus ul li a div.new {
	background: url("../img/icone/dest_index_new.png") no-repeat left top;
}
.menus ul li a div.alert {
	background: url("../img/icone/dest_index_alert.png") no-repeat left top;
}
.menus ul li a div.favo {
	background: url("../img/icone/dest_index_favo.png") no-repeat left top;
}
.rodape {
	margin: 10px auto; padding: 10px; width: 96%; text-align: center; font-size: 12px; display: block;
}
.ok {
	background: url("../img/icone/ok.png") no-repeat left rgb(244, 255, 220); margin: 10px 0px 20px; padding: 10px 10px 10px 80px; border-radius: 5px; border: 2px dashed rgb(133, 193, 4); border-image: none; color: rgb(133, 193, 4); font-size: 14px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.ok a {
	color: rgb(96, 144, 40);
}
.ok a:hover {
	color: rgb(121, 183, 38);
}
.info_b {
	background: url("../Images/info.png") no-repeat left rgb(241, 247, 248); margin: 20px 0px; padding: 10px 10px 10px 80px; border-radius: 5px; border: 2px dashed rgb(151, 212, 222); border-image: none; color: rgb(49, 140, 150); display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.info_b a {
	color: rgb(38, 103, 109); text-decoration: underline;
}
.info_c {
	background: url("../Images/info.png") no-repeat left rgb(241, 247, 248); margin: 10px 0px; padding: 10px 10px 10px 80px; border-radius: 5px; border: 2px dashed rgb(151, 212, 222); border-image: none; color: rgb(49, 140, 150); line-height: 130%; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.info_c a {
	color: rgb(38, 103, 109); text-decoration: underline;
}
.content_div{
	display: none;
}
.alerta {
	background: url("../img/icone/alerta.png") no-repeat left rgb(255, 249, 239); margin: 10px 0px 20px; padding: 10px; border-radius: 5px; border: 2px dashed rgb(233, 130, 20); border-image: none; color: rgb(206, 113, 20); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.alerta a {
	color: rgb(168, 90, 18); text-decoration: underline;
}
.atencao {
	background: url("../Images/atencao.png") no-repeat left rgb(248, 232, 232); margin: 10px 0px 20px; padding: 10px 10px 10px 80px; border-radius: 5px; border: 2px dashed rgb(161, 32, 26); border-image: none; color: rgb(161, 32, 26); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.atencao a {
	color: rgb(124, 25, 22); text-decoration: underline;
}
.destaqueAD {
	background: rgb(224, 216, 229); margin: 10px 10px 20px; padding: 10px 10px 10px 80px; border-radius: 5px; border: 2px dashed rgb(116, 73, 141); border-image: none; color: rgb(116, 73, 141); font-size: 13px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.oneAD {
	background-position: left; background-image: url("../Images/one_mini.png"); background-repeat: no-repeat;
}
.twoAD {
	background-position: left; background-image: url("../Images/two_mini.png"); background-repeat: no-repeat;
}
.treeAD {
	background-position: left; background-image: url("../Images/three_mini.png"); background-repeat: no-repeat;
}
.fourAD {
	background-position: left; background-image: url("../Images/four_mini.png"); background-repeat: no-repeat;
}
.Reports {
	background-position: left; background-image: url("../img/icone/mini_chart.png"); background-repeat: no-repeat;
}
.Extract {
	background-position: left; background-image: url("../img/icone/mini_dolar.png"); background-repeat: no-repeat;
}
.width960 {
	margin: 0px auto; width: 940px; display: block; position: relative;
}
a.btn {
	background: url("/bo/public/img/estrutura/btn_rox.png") center; margin: 2px 0px; padding: 2px 5px; border-radius: 5px; border: 1px solid rgb(79, 52, 162); border-image: none; color: rgb(241, 238, 250); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
a.btn:hover {
	background: url("/bo/public/img/estrutura/btn_rox.png") top;
}
a.btn:active {
	background: url("/bo/public/img/estrutura/btn_rox.png") bottom; color: rgb(216, 208, 238); box-shadow: inset 0px 1px 2px #000;
}
a.btn_ver {
	background: url("../img/estrutura/bg_verd.jpg") 0px 0px; margin: 0px 15px 0px 0px; padding: 5px 7px; border-radius: 4px; border: 1px solid rgb(60, 117, 69); border-image: none; width: 100%; color: rgb(255, 255, 255); cursor: pointer; box-shadow: none; text-shadow: 1px 1px #335638; -moz-border-radius: 4px;
}
a.btn_ver:hover {
	background: url("../img/estrutura/bg_verd.jpg") 0px 100px;
}
a.btn_ver:active {
	background: url("../img/estrutura/bg_verd.jpg") 0px 50px;
}
.btn_verificado {
	padding: 5px 5px 5px 40px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 13px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_NaoVerificado {
	padding: 5px 5px 5px 40px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 13px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_info {
	padding: 5px 5px 5px 40px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 13px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_vendido {
	padding: 5px 5px 5px 40px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 13px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_pendente {
	padding: 5px 5px 5px 40px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 13px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_vendido {
	background: url("../Images/mini_dolares.png") no-repeat left; border: 1px solid rgb(150, 202, 42); border-image: none; color: rgb(75, 101, 21);
}
.btn_info {
	background: url("../Images/mini_info.png") no-repeat left; border: 1px solid rgb(49, 140, 150); border-image: none; color: rgb(49, 140, 150);
}
.btn_verificado {
	background: url("../Images/mini_accept.png") no-repeat left; border: 1px solid rgb(150, 202, 42); border-image: none; color: rgb(75, 101, 21);
}
.btn_NaoVerificado {
	background: url("../Images/mini_atencao.png") no-repeat left; border: 1px solid rgb(140, 31, 24); border-image: none; color: rgb(140, 31, 24);
}
.btn_pendente {
	background: url("../Images/mini_alerta.png") no-repeat left; border: 1px solid rgb(234, 133, 19); border-image: none; color: rgb(241, 168, 9);
}
ul.submenuAD {
	background: url("/bo/public/img/estrutura/bg_linkAD.png") no-repeat center; margin: 30px auto; width: 940px; display: block;
}
ul.submenuAD li {
	margin: 0px 65px 0px 0px; float: left;
}
ul.submenuAD li a {
	background: rgb(232, 232, 232); padding: 10px 5px 5px 55px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; width: 208px; height: 35px; color: rgb(119, 119, 119); font-size: 18px; display: block; position: relative; cursor: default; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.submenuAD li.ir a {
	background: rgb(249, 249, 249); border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; cursor: pointer; box-shadow: 1px 1px 2px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.submenuAD li a img {
	left: 5px; top: 1px; position: absolute;
}
ul.submenuAD li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(193, 193, 193); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.listaAD {
	
}
ul.listaAD li {
	background: rgb(232, 232, 232); margin: 10px; padding: 5px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; width: 281px; height: 78px; color: rgb(119, 119, 119); float: left; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.listaAD2 {
	
}
ul.listaAD2 li a {
	background: rgb(232, 232, 232); margin: 4px 10px; padding: 2px 4px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; width: 283px; float: left; display: inline; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
form.pgExtract {
	margin: 50px auto 30px; width: 600px;
}
form.pgExtract label {
	font: bold 11px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; margin: 1px 0px; padding: 0px 0px 0px 10px; width: 590px; text-align: left; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: 2px; float: left; position: relative; font-size-adjust: none; font-stretch: normal;
}
form.pgExtract label span {
	left: 370px; top: 8px; color: rgb(79, 107, 114); letter-spacing: normal; display: block; position: absolute;
}
form.pgExtract label input[type='text'] {
	font: 12px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; margin: 2px 0px; padding: 4px 5px 4px 30px; border: 1px solid rgb(193, 218, 215); border-image: none; width: 205px; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: normal; float: right; font-size-adjust: none; font-stretch: normal;
}
form.pgExtract label input[type='password'] {
	font: 12px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; margin: 2px 0px; padding: 4px 5px 4px 30px; border: 1px solid rgb(193, 218, 215); border-image: none; width: 205px; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: normal; float: right; font-size-adjust: none; font-stretch: normal;
}
form.pgExtract label input[type='submit'] {
	font: 12px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; margin: 2px 0px; padding: 4px 5px 4px 30px; border: 1px solid rgb(193, 218, 215); border-image: none; width: 205px; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: normal; float: right; font-size-adjust: none; font-stretch: normal;
}
ul.submenuEXT {
	background: url("/bo/public/img/estrutura/bg_linkAD.png") no-repeat center; margin: 30px auto; width: 940px; display: block;
}
ul.submenuEXT li {
	margin: 0px 40px 0px 0px; float: left;
}
ul.submenuEXT li a {
	background: rgb(232, 232, 232); padding: 10px 5px 5px 55px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; width: 143px; height: 35px; color: rgb(119, 119, 119); font-size: 18px; display: block; position: relative; cursor: default; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.submenuEXT li.ir a {
	background: rgb(249, 249, 249); border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; cursor: pointer; box-shadow: 1px 1px 2px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.submenuEXT li a img {
	left: 5px; top: 1px; position: absolute;
}
ul.submenuEXT li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(193, 193, 193); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
form.subsubmenuEXT {
	margin: 0px 0px 10px; font-size: 12px; float: right;
}
form.subsubmenuEXT li {
	margin: 5px 0px 0px 3px; float: left;
}
form.subsubmenuEXT li p {
	margin: 7px 0px 0px;
}
.subsubmenuEXT table {
	
}
.subsubmenuEXT select {
	height: 20px;
}
.subsubmenuEXT input {
	height: 20px;
}
.tree {
	background: url("/bo/public/img/estrutura/bg_tree.png") no-repeat top; width: 600px; height: 420px; float: right; display: block; position: relative; z-index: 1;
}
.tree p {
	background: rgb(255, 255, 255); margin: -4px 0px 0px; display: block;
}
.pai {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.um {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.um_l {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.um_r {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_dois_l {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.r_dois_r {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.l_dois_l {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.l_dois_r {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 120px; height: 70px; text-align: center; color: rgb(102, 102, 102); text-transform: lowercase; overflow: hidden; font-size: 11px; position: absolute; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.pai {
	left: 240px; top: 0px;
}
.um {
	left: 240px; top: 110px;
}
.um_l {
	left: 80px; top: 210px;
}
.um_r {
	left: 400px; top: 210px;
}
.r_dois_l {
	left: 0px; top: 330px;
}
.r_dois_r {
	left: 160px; top: 330px;
}
.l_dois_l {
	left: 320px; top: 330px;
}
.l_dois_r {
	left: 480px; top: 330px;
}
ul.legendaTree {
	background: url("../img/icone/tree_legenda.png") left top; width: 100px; display: block;
}
ul.legendaTree li {
	
}
.pesquisar {
	left: 0px; top: 45px; display: block; position: absolute; z-index: 9;
}
.pesquisar label {
	width: 294px; display: block;
}
.pesquisar input {
	margin: 2px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 240px; font-size: 15px; float: left; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.pesquisar input[type='submit'] {
	background: url("../img/icone/buscar.png") no-repeat center rgb(204, 204, 204); margin: 4px 0px 0px 10px; border: 1px solid rgb(136, 136, 136); border-image: none; width: 24px; height: 24px; text-indent: -9999999px; cursor: pointer;
}
.pesquisar input[type='submit']:hover {
	background: url("../img/icone/buscar.png") no-repeat center rgb(226, 226, 226);
}
.exibirTabela {
	background: rgb(255, 255, 255); padding: 7px 7px 0px; border-radius: 10px; border: 1px solid rgb(210, 210, 210); border-image: none; left: 10px; top: 100px; width: 280px; position: absolute; z-index: 1000; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.exibirlegenda {
	background: rgb(255, 255, 255); padding: 7px 7px 0px; border-radius: 10px; border: 1px solid rgb(210, 210, 210); border-image: none; left: 10px; top: 310px; width: 280px; position: absolute; z-index: 1000; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.legenda {
	background: rgb(255, 255, 255); border-radius: 10px; border: 1px solid rgb(210, 210, 210); border-image: none; left: 10px; top: 305px; width: 280px; position: absolute; z-index: 1000; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#table {
	margin: 10px 0px; padding: 0px; width: 100%;
}
caption {
	font: italic 11px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; padding: 0px 0px 5px; width: 700px; text-align: right; font-size-adjust: none; font-stretch: normal;
}
#table th {
	background: url("../img/icone/bg_header.jpg") no-repeat rgb(202, 232, 234); font: bold 11px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; padding: 6px 6px 6px 12px; text-align: left; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: 2px; border-top-color: rgb(193, 218, 215); border-right-color: rgb(193, 218, 215); border-bottom-color: rgb(193, 218, 215); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
#table th.nobg {
	background: none; border-top-color: currentColor; border-right-color: rgb(193, 218, 215); border-left-color: currentColor; border-top-width: 0px; border-right-width: 1px; border-left-width: 0px; border-top-style: none; border-right-style: solid; border-left-style: none;
}
#table td {
	background: rgb(255, 255, 255); padding: 6px 6px 6px 12px; color: rgb(79, 107, 114); border-right-color: rgb(193, 218, 215); border-bottom-color: rgb(193, 218, 215); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#table td.alt {
	background: rgb(245, 250, 250); color: rgb(121, 114, 104);
}
#table th.spec {
	background: rgb(255, 255, 255); font: bold 10px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; border-top-color: currentColor; border-left-color: rgb(193, 218, 215); border-top-width: 0px; border-left-width: 1px; border-top-style: none; border-left-style: solid; font-size-adjust: none; font-stretch: normal;
}
#table th.specalt {
	background: rgb(245, 250, 250); font: bold 10px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: rgb(121, 114, 104); border-top-color: currentColor; border-left-color: rgb(193, 218, 215); border-top-width: 0px; border-left-width: 1px; border-top-style: none; border-left-style: solid; font-size-adjust: none; font-stretch: normal;
}
.table {
	text-align: left;
}
.table tr {
	
}
#tablee {
	margin: 10px 0px; padding: 0px; width: 100%;
}
caption {
	font: italic 11px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; padding: 0px 0px 5px; width: 700px; text-align: right; font-size-adjust: none; font-stretch: normal;
}
#tablee tr.title th {
	background: url("../img/icone/bg_header.jpg") no-repeat rgb(202, 232, 234); font: bold 11px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; padding: 6px 6px 6px 12px; text-align: left; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: 2px; border-top-color: rgb(193, 218, 215); border-right-color: rgb(193, 218, 215); border-bottom-color: rgb(193, 218, 215); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
#tablee tr.title th.nobg {
	background: none; border-top-color: currentColor; border-right-color: rgb(193, 218, 215); border-left-color: currentColor; border-top-width: 0px; border-right-width: 1px; border-left-width: 0px; border-top-style: none; border-right-style: solid; border-left-style: none;
}
#tablee td {
	background: rgb(255, 255, 255); padding: 6px 6px 6px 12px; color: rgb(79, 107, 114); border-right-color: rgb(193, 218, 215); border-bottom-color: rgb(193, 218, 215); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#tablee tr.alt td {
	background: rgb(245, 250, 250); color: rgb(121, 114, 104);
}
#tablee tr th {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(193, 218, 215) rgb(193, 218, 215); font: bold 10px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; padding: 6px 6px 6px 12px; text-align: left; color: rgb(79, 107, 114); text-transform: uppercase; letter-spacing: 2px; font-size-adjust: none; font-stretch: normal;
}
#tablee tr.alt th {
	background: rgb(245, 250, 250); font: bold 10px/normal "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: rgb(121, 114, 104); border-top-color: currentColor; border-left-color: rgb(193, 218, 215); border-top-width: 0px; border-left-width: 1px; border-top-style: none; border-left-style: solid; font-size-adjust: none; font-stretch: normal;
}
#tablee tr.dest_verd th {
	background: rgb(232, 255, 226); color: rgb(30, 33, 29); border-top-color: rgb(70, 114, 53); border-bottom-color: rgb(70, 114, 53); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#tablee tr.dest_verd td {
	background: rgb(232, 255, 226); color: rgb(30, 33, 29); border-top-color: rgb(70, 114, 53); border-bottom-color: rgb(70, 114, 53); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#tablee tr.dest_verm th {
	background: rgb(255, 231, 229); color: rgb(117, 9, 0); border-top-color: rgb(193, 20, 3); border-bottom-color: rgb(193, 20, 3); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#tablee tr.dest_verm td {
	background: rgb(255, 231, 229); color: rgb(117, 9, 0); border-top-color: rgb(193, 20, 3); border-bottom-color: rgb(193, 20, 3); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
form.ad3 {
	margin: 0px auto; width: 600px; font-size: 16px;
}
form.ad3 label.radio {
	width: 185px;
}
.frmPadrao {
	margin: 0px auto; width: 600px; font-size: 16px;
}
.frmPadrao label {
	margin: 10px 0px; width: 600px; text-align: left; float: left; position: relative;
}
.frmPadrao label input[type='text'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label input[type='submit'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label input[type='password'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label textarea {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label select {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label p {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 150px; width: 400px; font-size: 15px; float: left; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.frmPadrao label select {
	width: 408px;
}
.frmPadrao label p {
	border: currentColor; border-image: none; text-align: left;
}
.frmPadrao span {
	margin: 10px auto; padding: 0px 50px 0px 0px; width: 550px; text-align: right; float: left;
}
.frmPadrao label input[type='radio'] {
	
}
.frmPadrao label.radio {
	width: 185px; float: right;
}
.submit {
	background: url("/bo/public/img/estrutura/bg_menu.png") center; margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 400px; height: 30px; color: rgb(51, 51, 51); text-transform: uppercase; font-size: 15px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; moz-border-radius: 10px;
}
.submit:hover {
	background: url("/bo/public/img/estrutura/bg_menu.png") top;
}
.submit:active {
	background: url("/bo/public/img/estrutura/bg_menu.png") bottom; box-shadow: inset 0px 1px 3px #333;
}
.formReports {
	margin: 5px 0px 0px; width: 220px;
}
.formReports label {
	margin: 0px 7px 0px 0px; font-size: 12px; float: left;
}
.formReports input[type='submit'] {
	margin: 0px; width: 50px; height: 20px; font-size: 10px; float: left; z-index: 10000;
}
form.form_faq textarea {
	margin: 0px 0px 15px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 98%; height: 100px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.form_faq input[type='submit'] {
	margin: 0px; float: left;
}
form.porcento {
	margin: 0px auto; width: 100%; font-size: 16px; max-width: 600px;
}
form.porcento label {
	margin: 10px 0px; width: 100%; text-align: right; float: left;
}
form.porcento label input[type='text'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.porcento label input[type='submit'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.porcento label input[type='password'] {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.porcento label textarea {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.porcento label select {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.porcento label p {
	margin: 0px 0px 0px 10px; padding: 4px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 66%; font-size: 15px; float: right; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
ul.submenuDataBank {
	margin: 20px auto; width: 480px;
}
ul.submenuDataBank li {
	float: left;
}
ul.submenuDataBank li a {
	background: rgb(232, 232, 232); margin: 0px 14px; padding: 5px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 200px; text-align: center; color: rgb(119, 119, 119); font-size: 15px; display: block; cursor: auto; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
ul.submenuDataBank li.ir a {
	background: rgb(249, 249, 249); border: 1px solid rgb(255, 255, 255); border-image: none; cursor: pointer; box-shadow: 1px 1px 2px #999;
}
form.ad3 label {
	position: relative;
}
form.ad3 img.bank {
	margin: 0px 0px -7px 185px;
}
form.ad3 label div {
	background: url("/bo/public/img/estrutura/bg_formDataBank.gif") no-repeat left top; width: 418px; float: right; position: relative;
}
form.ad3 input[type='text'].numeroBanco {
	width: 140px; float: left;
}
form.ad3 input[type='text'].bank_menor {
	width: 210px; float: left;
}
form.ad3 select.bank_menor {
	width: 220px; float: left;
}
form.ad3 label div span {
	top: -3px; width: 200px; text-align: left; right: -70px; color: rgb(51, 51, 51); line-height: 105%; font-size: 11px; float: left; position: absolute;
}
form.ad3 label div p {
	font-size: 12px;
}
form.ad3 label div select {
	
}
form.ad3 input[type='text'].digBanco {
	margin: 0px 0px 0px 20px; width: 40px; float: left;
}
form.ad3 label.radio_bank {
	margin: 0px; width: 185px; float: right;
}
form.ad3 label.radio_bank input[type='radio'] {
	margin: 3px 5px 0px 12px; float: left;
}
form.ad3 label.radio_bank span {
	margin: 0px; padding: 0px; width: auto; text-align: left; float: left;
}
form.ad3 label input[type='button'].subbank {
	margin: 10px 85px 0px 0px; width: 320px;
}
form.ad3 label div select {
	margin: 0px 190px 0px 0px; width: 220px;
}
form.convite {
	background: url("../img/bg_convite_commercer.jpg") rgb(240, 240, 240); margin: 20px auto 30px; padding: 140px 30px 0px; width: 560px; height: 200px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; display: block;
}
form.convite label {
	color: rgb(102, 102, 102); font-size: 20px; display: block; position: relative; cursor: pointer;
}
form.convite label select {
	background: none; border: 0px currentColor; border-image: none; width: 40px; height: 20px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 18px;
}
form.convite label input {
	background: none; border-width: 0px 0px 2px; border-style: none none solid; border-color: currentColor currentColor rgb(102, 102, 102); border-image: none; width: 200px; height: 24px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 18px;
}
form.convite label span {
	left: 0px; top: 20px; color: rgb(136, 136, 136); font-size: 14px; font-style: italic; position: absolute;
}
form.convite input[type='submit'] {
	background: none; margin: 40px 130px 0px; border: 2px solid rgb(153, 153, 153); border-image: none; width: 300px;
}
form.convite span.sub {
	text-align: center; color: rgb(136, 136, 136); text-transform: uppercase; display: block;
}
.box {
	margin: 0px auto; border-radius: 3px; width: 100%; background-color: rgb(238, 238, 238);
}
.box > ul {
	list-style: none; margin: 0px 0px 20px; padding: 0px;
}
.box > ul li {
	background: rgb(249, 249, 249); margin: 0px 20px 0px 0px; padding: 10px; border-radius: 5px; border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; color: rgb(119, 119, 119); font-size: 18px; float: left; display: block; position: relative; cursor: pointer; box-shadow: 1px 1px 2px #999; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.box > ul li.active {
	background: rgb(232, 232, 232); margin: 0px 20px 0px 0px; padding: 10px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; color: rgb(119, 119, 119); font-size: 18px; float: left; display: block; position: relative; cursor: default; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.box .content {
	margin: 0px; padding: 10px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
.box .content > div {
	display: none;
}
.box .content > tab {
	display: none;
}
.box .content > div img {
	margin: 10px auto; display: block;
}
.documento {
	margin: 10px auto; padding: 20px; border: 1px dashed rgb(204, 204, 204); border-image: none; width: 640px; line-height: 200%; font-family: "Courier New", Courier, monospace; font-size: 16px;
}
.documento label {
	font-size: 16px; cursor: pointer;
}
.documento label input {
	background: none; border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(102, 102, 102); border-image: none; color: rgb(0, 0, 0); font-family: "Courier New", Courier, monospace; font-size: 16px;
}
.documento table {
	font-family: "Courier New", Courier, monospace;
}
ul.lista_valorDvd {
	margin: 20px 0px 0px 50px; display: block;
}
ul.lista_valorDvd li {
	margin: 6px 0px 6px 25px; float: left;
}
ul.lista_valorDvd li a {
	background: rgb(249, 249, 249); padding: 2px 5px 2px 20px; border-radius: 5px; border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; width: 400px; color: rgb(119, 119, 119); font-size: 18px; display: block; position: relative; box-shadow: 1px 1px 2px #999; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.lista_valorDvd li a:hover {
	background: rgb(255, 255, 255);
}
ul.lista_valorDvd li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(193, 193, 193); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.container_12 h1 {
	padding: 10px 10px 3px 0px; text-transform: uppercase; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 30px; font-weight: 100;
}
.download h2 {
	margin: 0px; padding: 3px 2px 2px 10px; font-size: 22px; font-style: italic; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.download p {
	margin: 5px 10px;
}
.download .grid_4 img {
	margin: 5px; border: 1px solid rgb(209, 209, 209); border-image: none; width: 280px;
}
.download .grid_4 a.btn_down {
	background: url("../img/estrutura/bg_lar.png") top; margin: 10px 4px 6px; padding: 5px 3px; border-radius: 2px; border: 1px solid rgb(169, 116, 5); border-image: none; text-align: center; color: rgb(72, 50, 2); text-transform: uppercase; font-size: 14px; display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.download .grid_4 a.btn_down:hover {
	background: url("../img/estrutura/bg_lar.png") bottom;
}
.discounted-item {
	background: rgb(255, 255, 255); margin: 20px 0px; border-radius: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
ul.tituto_comunicado {
	margin: 30px 0px 0px;
}
ul.tituto_comunicado li {
	padding: 10px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative;
}
ul.tituto_comunicado li div.data {
	background: rgb(0, 102, 153); padding: 0px 5px; border-radius: 6px; color: rgb(255, 255, 255); font-size: 32px; float: left; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
ul.tituto_comunicado li div.data span {
	margin: -5px 0px 0px; font-size: 10px; display: block;
}
ul.tituto_comunicado li a {
	margin: -5px 0px 0px 10px; width: 230px; color: rgb(68, 68, 68); font-size: 16px; font-style: italic; float: left;
}
ul.tituto_comunicado div.aberta {
	background: url("../img/estrutura/seta_comunicado.png"); left: -13px; top: 0px; width: 13px; height: 70px; position: absolute;
}
ul.subMenu6 {
	margin: 30px auto; width: 940px; display: block;
}
ul.subMenu6 li {
	margin: 0px 18px 0px 0px; float: left;
}
ul.subMenu6 li a {
	background: rgb(232, 232, 232); padding: 10px 5px 0px 42px; border-radius: 5px; border: 1px solid rgb(204, 204, 204); transition:0.3s linear; border-image: none; width: 92px; height: 35px; color: rgb(119, 119, 119); font-size: 16px; display: block; position: relative; cursor: default; box-shadow: 1px 2px 3px #fff; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.subMenu6 li.ir a {
	background: rgb(249, 249, 249); border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; cursor: pointer; box-shadow: 1px 1px 2px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
ul.subMenu6 li a img {
	left: 2px; top: 1px; position: absolute;
}
ul.subMenu6 li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(193, 193, 193); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.passoApasso {
	background: rgb(255, 255, 255); padding: 5px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 190px; margin-bottom: 20px; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.passoApasso img {
	margin: 0px 0px 10px; height: 100px;
}
form.credenciador {
	margin: 20px 0px 0px; padding: 5px 10px; border-radius: 5px; border: 5px solid rgb(119, 119, 119); border-image: none; box-shadow: 1px 2px 3px #fff; -webkit-border-radius: 5px;
}
.selfservice {
	background: url("../img/estrutura/selfservice_bg.jpg") no-repeat left bottom rgb(240, 240, 240); min-height: 500px;
}
img.title_selfservice {
	margin: 20px 0px 0px;
}
.selfservice p.desc {
	margin: -15px 0px 20px;
}
.ferramentas ul {
	
}
.ferramentas ul li a {
	background: rgb(249, 249, 249); margin: 10px 0px 10px 20px; padding: 5px; border-radius: 5px; border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; width: 124px; height: 150px; text-align: center; color: rgb(119, 119, 119); font-size: 15px; float: left; position: relative; box-shadow: 1px 1px 2px #999; text-shadow: 1px 1px 1px #fff; -webkit-transition: all 0.3s linear; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.ferramentas ul li a img {
	margin: 5px 6px 10px; width: 100px;
}
.ferramentas ul li a:hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none;
}
.ferramentas ul li a:active {
	background: rgb(232, 232, 232); border: 1px solid rgb(153, 153, 153); transition:0.3s linear; border-image: none; box-shadow: inset 1px 2px 3px #999; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
.ferramentas ul li a div.new {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.menus ul li a div.favo {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.menus ul li a div.alert {
	left: -2px; top: -2px; width: 47px; height: 47px; position: absolute;
}
.ferramentas ul li a div.new {
	background: url("../img/icone/dest_index_new.png") no-repeat left top;
}
.ferramentas ul li a div.alert {
	background: url("../img/icone/dest_index_alert.png") no-repeat left top;
}
.ferramentas ul li a div.favo {
	background: url("../img/icone/dest_index_favo.png") no-repeat left top;
}
.ferramentas .laft {
	margin-left: 0px;
}
.popup .cabecalho {
	background: url("../img/estrutura/bg_menu.jpg") rgb(255, 255, 255); margin: -30px -20px 0px; padding: 30px 20px 10px; width: 980px; border-bottom-color: rgb(85, 85, 85); border-bottom-width: 1px; border-bottom-style: solid;
}
.popup .idiomas {
	margin: 46px 0px 0px;
}
.popup a.link {
	border: currentColor; border-image: none; color: rgb(204, 204, 204); text-decoration: underline;
}
.popup a.link:hover {
	background: none; color: rgb(255, 255, 255);
}
.popup_preto {
	background: url("../img/estrutura/bg_popup_video.png") center rgb(0, 0, 0); margin: -10px -20px -40px; padding: 5px 0px 30px; width: 980px;
}
.popup_preto h2 {
	margin: 10px 0px; color: rgb(204, 204, 204); font-size: 26px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; text-shadow: none;
}
.popup_branco {
	background: url("../img/popup_branco.jpg") repeat-x; margin: 0px -20px -40px; padding: 5px 0px 30px; width: 980px;
}
.popup_branco h2 {
	margin: 10px 0px; color: rgb(51, 51, 51); font-size: 26px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; text-shadow: none;
}
.popup_branco a.link {
	color: rgb(51, 51, 51);
}
.popup_branco a.link:hover {
	color: rgb(85, 85, 85);
}
.popup_video_cont {
	margin: 0px auto; width: 800px;
}
.popup_video_cont .img img {
	border-radius: 5px; width: 800px; margin-bottom: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.popup_video_cont .html {
	padding-bottom: 30px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.popup_video_cont .html p {
	text-align: justify;
}
.popup_preto .html {
	color: rgb(242, 242, 242);
}
.validaemail .cabecalho {
	background: url("../img/estrutura/bg_menu.jpg") rgb(255, 255, 255); margin: -30px -20px 0px; padding: 30px 20px 10px; width: 980px; border-bottom-color: rgb(187, 187, 187); border-bottom-width: 1px; border-bottom-style: solid;
}
.validaemail .idiomas {
	margin: 46px 0px 0px;
}
.validaemail h2 {
	background: rgb(233, 233, 233); margin: 0px -20px 10px; padding: 10px 20px; font-size: 22px; border-bottom-color: rgb(209, 209, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
form.form_validaemail {
	margin: 30px auto; width: 510px;
}
form.form_validaemail input.email {
	background: url("../img/icone/email.png") no-repeat 6px 6px rgb(255, 255, 255); margin: 0px 0px 24px; padding: 5px 5px 5px 30px; border-radius: 6px; border: 1px solid rgb(212, 212, 212); border-image: none; width: 475px; font-size: 16px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
form.form_validaemail p.email {
	padding: 5px 0px; width: 510px; font-size: 16px; margin-bottom: 10px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
form.form_validaemail p.email img {
	margin: 3px 10px 0px 0px; float: left;
}
form input.btn {
	background: url("/bo/public/img/estrutura/btn_rox.png") center; margin: 20px 0px 0px; padding: 2px 5px; border-radius: 5px; border: 1px solid rgb(79, 52, 162); border-image: none; width: 510px; color: rgb(241, 238, 250); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
form input.btn:hover {
	background: url("/bo/public/img/estrutura/btn_rox.png") top;
}
form input.btn:active {
	background: url("/bo/public/img/estrutura/btn_rox.png") bottom; color: rgb(216, 208, 238); box-shadow: inset 0px 1px 2px #000;
}
.validaemail_bottom {
	background: rgb(233, 233, 233); margin: 30px -20px -20px; padding: 10px 20px; border-top-color: rgb(209, 209, 209); border-top-width: 1px; border-top-style: solid;
}
.validaemail_bottom a {
	width: 300px; display: block;
}
ul.list_cadsucess li {
	list-style: decimal; margin: 20px 30px; font-size: 16px;
}
ul.list_cadsucess li span {
	list-style: decimal; margin: 25px 0px; font-size: 14px;
}
#paginacao_geral {
	margin-right: auto; margin-left: auto;
}
#paginacao {
	left: 50%; height: 60px; margin-top: 10px; margin-bottom: 5px; float: left; position: relative;
}
#paginacao ul {
	list-style: none; margin: 0px; padding: 0px; left: -50%; position: relative;
}
#paginacao li {
	margin: 0px; float: left;
}
#paginacao li a {
	background: 0px 0px rgb(249, 249, 249); padding: 7px; border-radius: 5px; border: 1px solid rgb(255, 255, 255); transition:0.3s linear; border-image: none; color: rgb(255, 255, 255); font-weight: bold; margin-top: 10px; margin-left: 5px; display: block; position: relative; cursor: pointer; box-shadow: 1px 1px 2px #999999; text-shadow: 1px 1px 1px #ffffff;
}
#paginacao li a.item {
	color: rgb(119, 119, 119);
}
#paginacao li a.item:hover {
	color: rgb(237, 28, 36);
}
#paginacao li a.current.item {
	background: 0px 0px rgb(232, 232, 232); border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); cursor: default; box-shadow: 1px 2px 3px #ffffff;
}
#paginacao li a.anterior {
	padding: 0px 8px; color: rgb(119, 119, 119); font-size: 23px;
}
#paginacao li a.posterior {
	padding: 0px 8px; color: rgb(119, 119, 119); font-size: 23px;
}
#paginacao li a.anterior:hover {
	color: rgb(237, 28, 36);
}
#paginacao li a.posterior:hover {
	color: rgb(237, 28, 36);
}
#paginacao li a.desativado.anterior {
	color: rgb(119, 119, 119); opacity: 0.5;
}
#paginacao li a.desativado.posterior {
	color: rgb(119, 119, 119); opacity: 0.5;
}
