<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>《仙剑奇侠传六》官方网站</title>
<link rel="stylesheet" type="text/css" href="/templates/pal/css/style.css">
<link rel="stylesheet" type="text/css" href="/templates/pal/css/index.css">
<script type="text/javascript" src="/templates/pal/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/templates/pal/js/lrtk.js"></script>
<script type="text/javascript" src="/templates/pal/js/index.js"></script>
<style type="text/css">
.Album { position: absolute; top: -175px; left: 120px; display:none;}
.Album img { display: block;} 
</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../../hm.baidu.com/hm2432.js?3a874a5f94f2b888b1aca9901f1d294c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body><img src="/templates/pal/images/x6logo.jpg" alt="仙剑奇侠传六" style="z-index:-9999999; position:absolute; left:-99999px;"/>




<div class="topnav">
	<div class="q">
    	<ul class="nav clearfix">
        	<li><a href="http://pal6.roogames.com/" class="data-list" target="_blank">网站首页<p>HOME</p></a></li>
            <li><a href="http://pal6.roogames.com/news/" target="_blank">游戏新闻<p>NEWS</p></a></li>
            <li>
            	<a href="http://pal6.roogames.com/picFigure/" target="_blank" id="dataTh">游戏资料<p>DATA</p></a>
                <div class="nav-list" id="dataTd" style="display: none;">
                	<a href="http://pal6.roogames.com/history/" target="_blank">仙剑历代</a>
                    <a href="http://pal6.roogames.com/Story/" target="_blank">背景故事</a>
                    <a href="http://pal6.roogames.com/picFigure/" target="_blank">人物角色</a>
                    <a href="http://pal6.roogames.com/video/" target="_blank">游戏视频</a>
                    <a href="http://pal6.roogames.com/Team/" target="_blank">制作团队</a><a href="http://pal6.roogames.com/MusicPage/" target="_blank">游戏音乐</a>
                </div>
            </li>
            <li><a href="http://pal6.roogames.com/" target="_blank" class="logo"><img src="/templates/pal/images/logo.png" /></a></li>
            <li><a href="http://pal6.roogames.com/versions/" target="_blank">游戏购买<p>SHOP</p></a></li>
            <li><a href="http://pal6.roogames.com/Fans/" target="_blank">仙剑后援会<p>FANS</p></a></li>
            <li><a href="http://cs.pcjoy.cn/" target="_blank">联系客服<p>CONTACT</p></a></li>            
        </ul>
    </div>	
</div>


<div class="banner">
	
</div>

<div class="bodyerbottom">

<div class="ad">

<div class="bannerflash">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="100%" height="800" class="topFalsh">
        <param name="movie" value="http://pal6images.roogames.com/xianjian6x/images/main.swf">
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <embed src="http://pal6images.roogames.com/xianjian6x/images/main.swf" width="100%" height="800" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent">
    </object>
</div>

	<div class="q clearfix">
    
    	<div class="adInfo fl">
			<a class="Album" href="https://pal.cubejoy.com/pal6/qy/index.html" target="_blank"><img src="../img/Apkdb.png" /></a>
			<div class="music">
            	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="110" height="22" class="topFalsh">
                    <param name="movie" value="http://pal6images.roogames.com/xianjian6x/images/xj6music.swf">
                    <param name="quality" value="high">
                    <param name="wmode" value="transparent">
                    <embed src="http://pal6images.roogames.com/xianjian6x/images/xj6music.swf" width="110" height="22" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent">
                </object>
            </div>
        	<div class="VidoLink fl">
            
                <div class="reserveDiv clearfix">
					<a class="g2 gg" href="http://pal6.roogames.com/versions/" target="_blank"></a>
                    <a class="g1 gg" href="http://pal6.roogames.com/download/"></a>
                    
                    <div class="cle"></div>
                    <a href="http://pal6images.roogames.com/xianjian6x/download/32.exe" class="exe32">32位系统内存优化工具下载</a>
                </div>
                
                <div class="snav">
                	<div class="snavBtn snavBtn1"><a href="http://pal6.roogames.com/versions/" target="_blank">版本介绍</a></div>
                    <div class="snavBtn snavBtn2"><a href="http://pal6.roogames.com/picFigure/" target="_blank">游戏资料</a></div>
                    <div class="snavBtn snavBtn3"><a href="http://pal6.roogames.com/vendor/" target="_blank">销售网点</a></div>
                    <div class="snavBtn snavBtn4"><a href="http://pal6.roogames.com/2015/musicInfo_0707/397.html" target="_blank">疑难解答</a></div>
                    <div class="cle"></div>
                </div>
                
           </div>

             
			  <div id="playBox" class="focus fl">
              	<div class="pre"></div>
   				<div class="next"></div>
                <div class="smalltitle">                
                  <ul>
                    <li class="thistitle"></li>
										<li></li>
										<li></li>
										<li></li>
                  </ul>
                </div>
                <ul class="oUlplay">
                    <li><a href="http://gamelib.roogames.com/wnews/wnews?newsid=1763" target="_blank"><img src="../img/57.jpg" /></a></li>
                    <li><a href="http://gamelib.roogames.com/wnews/wnews?newsid=1752" target="_blank"><img src="../img/55.jpg" /></a></li>
                    <li><a href="https://pal4zb.cubejoy.com/index.html" target="_blank"><img src="../img/58.jpg" /></a></li>
										<li><a href="https://pal.cubejoy.com/pal6/qy/index.html" target="_blank"><img src="../img/551.jpg" /></a></li>
                </ul>
              </div>
            
        </div>

        
    </div>
</div>

<div class="Info q clearfix">
	<div class="news fl">

        <div class="newsTitle">
            <ul class="clearfix">
                <li class="h">综合</li>
                <li>新闻</li>
                <li>媒体</li>
				<li class="newsLast">公告</li>
                <!--<li>后援会</li>-->
            </ul>
            <a href="http://pal6.roogames.com/news/" target="_blank"><img src="/templates/pal/images/more.png" /></a>
        </div>
        <div class="newsList">
            <div class="synthesize">
							<ul>
								<li><span class="fr newsTime">[04/28]</span>
									<a href="http://gamelib.roogames.com/wnews/wnews?newsid=1768" target="_blank" class="fl" title="【通知】Win10系统即将更新 仙剑老用户需反激活操作" style=""><span class="newsType">[通知]</span>Win10系统即将更新 仙剑老用户需反激活操作</a>
								</li>
								<li><span class="fr newsTime">[12/12]</span>
									<a href="http://gamelib.roogames.com/wnews/wnews?newsid=1752" target="_blank" class="fl" title="四款《仙剑奇侠传》系列游戏在WeGame商店发售 多重福利回馈籼米" style=""><span class="newsType">[新闻]</span>四款《仙剑奇侠传》系列游戏在WeGame商店发售 多重福利回馈籼米</a>
								</li>
								<li><span class="fr newsTime">[11/23]</span>
									<a href="https://ku.cubejoy.com/News/GameNewsDetail/311" target="_blank" class="fl" title="《仙剑六》第三批用户迁移至方块平台的说明" style=""><span class="newsType">[新闻]</span>《仙剑六》第三批用户迁移至方块平台的说明</a>
								</li>
								<li><span class="fr newsTime">[08/04]</span>
									<a href="http://pal6.roogames.com/2016/synthesize_0804/573.html" target="_blank" class="fl" title="赵灵儿官方手办正式版公开" style=""><span class="newsType">[新闻]</span>赵灵儿官方手办正式版公开</a>
								</li>
								<li><span class="fr newsTime">[08/02]</span>
									<a href="http://pal6.roogames.com/2016/synthesize_0802/569.html" target="_blank" class="fl" title="抚今怀昔 《仙剑奇侠传》系列纪念版预售开启" style=""><span class="newsType">[新闻]</span>抚今怀昔 《仙剑奇侠传》系列纪念版预售开启</a>
								</li>
						
							</ul>
						</div>
			<div class="synthesize" style="display: none;">
			            	<ul>
					                    <li><span class="fr newsTime">[08/04]</span><a href="http://pal6.roogames.com/2016/synthesize_0804/573.html" target="_blank" class="fl" title="赵灵儿官方手办正式版公开" style="" ><span class="newsType">[新闻]</span>赵灵儿官方手办正式版公开 </a></li>
					                    <li><span class="fr newsTime">[08/02]</span><a href="http://pal6.roogames.com/2016/synthesize_0802/569.html" target="_blank" class="fl" title="抚今怀昔 《仙剑奇侠传》系列纪念版预售开启" style="" ><span class="newsType">[新闻]</span>抚今怀昔 《仙剑奇侠传》系列纪念版预售开启 </a></li>
					                    <li><span class="fr newsTime">[07/08]</span><a href="http://pal6.roogames.com/2016/synthesize_0708/565.html" target="_blank" class="fl" title="《仙剑奇侠传》赵灵儿手办预售今日开启" style="" ><span class="newsType">[新闻]</span>《仙剑奇侠传》赵灵儿手办预售今日开启 </a></li>
					                    <li><span class="fr newsTime">[07/06]</span><a href="http://pal6.roogames.com/2016/synthesize_0706/561.html" target="_blank" class="fl" title="圣灵初见—— 赵灵儿官方手办灰模公开" style="" ><span class="newsType">[新闻]</span>圣灵初见—— 赵灵儿官方手办灰模公开 </a></li>
					                    <li><span class="fr newsTime">[06/28]</span><a href="http://pal6.roogames.com/2016/synthesize_0628/551.html" target="_blank" class="fl" title="仙剑系列正版游戏登录“袋鼠游戏”平台" style="" ><span class="newsType">[新闻]</span>仙剑系列正版游戏登录“袋鼠游戏”平台 </a></li>
					                </ul>
			            </div>
            <div class="synthesize" style="display: none;">
            	            	<ul>
					                    <li><span class="fr newsTime">[07/02]</span><a href="http://www.gamersky.com/news/201506/614515.shtml" target="_blank" class="fl" title="游民星空：《仙剑奇侠传6》实体版开箱" style="" ><span class="newsType">[媒体]</span>游民星空：《仙剑奇侠传6》实体版开箱 </a></li>
					                    <li><span class="fr newsTime">[06/24]</span><a href="http://pal.17173.com/content/2015-06-24/20150624094824976.shtml" target="_blank" class="fl" title="17173专访游戏制作人栾京" style="" ><span class="newsType">[媒体]</span>17173专访游戏制作人栾京 </a></li>
					                    <li><span class="fr newsTime">[06/24]</span><a href="http://pal.17173.com/pal6/shiwan.shtml" target="_blank" class="fl" title="《仙剑奇侠传六》17173深度评测" style="" ><span class="newsType">[媒体]</span>《仙剑奇侠传六》17173深度评测 </a></li>
					                    <li><span class="fr newsTime">[06/12]</span><a href="http://www.gamersky.com/zhuanti/zfyzx/" target="_blank" class="fl" title="游民星空专访仙剑之父—姚壮宪" style="" ><span class="newsType">[媒体]</span>游民星空专访仙剑之父—姚壮宪 </a></li>
					                    <li><span class="fr newsTime">[05/21]</span><a href="http://news.17173.com/content/2015-05-21/20150521154749115.shtml" target="_blank" class="fl" title="17173：《仙剑6》战斗系统揭秘 配置萌萌哒" style="" ><span class="newsType">[媒体]</span>17173：《仙剑6》战斗系统揭秘 配置萌萌哒 </a></li>
					                </ul>
			            </div>
			<div class="synthesize" style="display: none;">
            	            	<ul>
					                    <li><span class="fr newsTime">[07/05]</span><a href="http://pal6.roogames.com/2016/synthesize_0705/557.html" target="_blank" class="fl" title="关于“福袋卡”抽奖活动截止公告" style="" ><span class="newsType">[公告]</span>关于“福袋卡”抽奖活动截止公告 </a></li>
					                    <li><span class="fr newsTime">[06/28]</span><a href="http://pal6.roogames.com/2016/synthesize_0628/535.html" target="_blank" class="fl" title="关于“乐动圈圈”版本升级公告" style="" ><span class="newsType">[公告]</span>关于“乐动圈圈”版本升级公告 </a></li>
					                    <li><span class="fr newsTime">[02/05]</span><a href="http://pal6.roogames.com/2016/synthesize_0205/520.html" target="_blank" class="fl" title="春节期间客服放假说明" style="" ><span class="newsType">[公告]</span>春节期间客服放假说明 </a></li>
					                    <li><span class="fr newsTime">[12/14]</span><a href="http://pal6.roogames.com/2015/synthesize_1214/508.html" target="_blank" class="fl" title="《仙剑奇侠传六》1.10补丁发布" style="" ><span class="newsType">[公告]</span>《仙剑奇侠传六》1.10补丁发布 </a></li>
					                    <li><span class="fr newsTime">[12/03]</span><a href="http://pal6.roogames.com/2015/synthesize_1203/502.html" target="_blank" class="fl" title="《仙剑奇侠传六》客户端版本更新公告" style="" ><span class="newsType">[公告]</span>《仙剑奇侠传六》客户端版本更新公告 </a></li>
					                </ul>
			            </div>
            <!--<div class="synthesize" style="display: none;">
            	
            </div>-->
        </div>
        
    </div>

    <div class="weibo fl">
    	<div class="weiboTop clearfix">
        	<div class="xianjian fl"><a href="http://weibo.com/p/1006061658374617/home?from=page_100606&amp;mod=TAB#place" target="_blank" class="Sian">新浪</a><a href="http://e.t.qq.com/softstar-pal5" target="_blank" class="TX">腾讯</a></div>
            <div class="yaoxiansheng fl"><a href="http://weibo.com/yaosir1" target="_blank" class="Sian">新浪</a><a href="http://t.qq.com/yaosir1/" target="_blank" class="TX">腾讯</a></div>
        </div>
        <!--<a href="http://blessing.pcjoy.cn" target="_blank" style="display: block;" class="weixin"></a>-->
		<div class="ww11 clearfix">
        	<a href="http://blessing.pcjoy.cn/" target="_blank"><img src="/templates/pal/images/w11.jpg" /></a>
            <a href="http://pal6.roogames.com/2015/musicInfo_0709/414.html" target="_blank"><img src="/templates/pal/images/w22.jpg" /></a>
		</div>
    </div>
	<div class="cle"></div>
</div>

<div class="vidoinfo q clearfix">

	<div class="vido_list fl">
    	<div class="vido-big fl"><a href="http://pal6.roogames.com/video/" target="_blank" class="vido_b"></a></div>
        <div class="vido-small fl">
        	<a href="http://pal6.roogames.com/video/" target="_blank" class="vido-1"></a>
            <a href="http://pal6.roogames.com/video/" target="_blank" class="vido-2"></a>
            <a href="http://pal6.roogames.com/video/" target="_blank" class="vido-3"></a>
        </div>
    </div>
    
    <div class="list_17173 fl">
    	<h2 class="title_17173">17173<a href="http://pal.17173.com/" target="_blank" class="more_17173"></a></h2>
        <div class="iframe-17173-content" >
        <div class="iframe-17173"><iframe src="http://pal.17173.com/qt/6.shtml" width="100%" height="220" scrolling="no" border="0" frameborder="0"></iframe></div>
       </div>
    </div>
    
</div>

<div class="ADX q clearfix">
	<a href="http://pal6.roogames.com/2015/synthesize_0720/445.html" target="_blank" class="Aad1"></a>
    <a href="http://blessing.pcjoy.cn/#a3" target="_blank" class="Aad2"></a>
    <a href="http://gamelib.roogames.com/wnews/wnews?newsid=1763" target="_blank" class="Aad3"></a>
    <a href="http://pal6.roogames.com/xianjiankezhan/" target="_blank" class="Aad4"></a>
</div>

<div class="figure">

        <div class="figureR w" id="flash_outer">
            <div style="width: 1000px; height: 330px; margin: 0 auto; overflow: hidden" id="flash_pic">
                <div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big1.jpg)">
                </div>
                <div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big2.jpg)">
                </div>
                <div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big3.jpg)">
                </div>
                <div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big4.jpg)">
                </div>
				<div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big5.jpg)">
                </div>
				<div style="width: 1000px; height: 330px; background: url(/templates/pal/images/big6.jpg)">
                </div>
            </div>
            <ul style="position: absolute;" id="flash_num">
                <li class="click_over"><a href="javascript:;" class="pic1" id="d1"></a></li>
                <li class="click_out"><a href="javascript:;" class="pic2" id="d2"></a></li>
                <li class="click_out"><a href="javascript:;" class="pic3" id="d3"></a></li>
                <li id="fen" class="click_out"><a href="javascript:;" class="pic4" id="d4"></a></li>
                <li class="click_out"><a href="javascript:;" class="pic5" id="d5"></a></li>
				<li class="click_out"><a href="javascript:;" class="pic6" id="d6"></a></li>
            </ul>

        </div>
    </div>


</div>

   <script type="text/javascript">
	var oDiv1=document.getElementById('dataTh');
	var oDiv2=document.getElementById('dataTd');
	var timer=null;
	
	oDiv2.onmouseover=oDiv1.onmouseover=function ()
	{
		clearTimeout(timer);
		oDiv2.style.display='block';
		oDiv1.className='data-list';
	};
	oDiv2.onmouseout=oDiv1.onmouseout=function ()
	{
		timer=setTimeout(function (){
			oDiv2.style.display='none';
			oDiv1.className='';
		}, 100);
	};

	</script>

<!-- <div class="footer">
<meta name="baidu-site-verification" content="os2PFXPttA" />
	<div class="w foot clearfix">
        <div class="allLogo fl">
           
            <a href="http://www.pcjoy.cn" target="_blank" title="畅游乐动" class="cyldong"></a>
            <a href="http://www.softstar.com.tw/" target="_blank" title="大宇资讯" class="dayu"></a>
			
        </div>
        <div class="webInfo fl">
            <p class="webINFO"><span class="cp_cn">北京畅游乐动网络技术有限公司 版权所有</span><span class="cp_en uppercase"> Copyright © 2014 Joyact.com Limited. All rights reserved. </span></p>
            <p><span>京ICP备15002440号</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="../ICP.html" target="_blank" class="highlight">京ICP证150412号</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="../certificate.html" target="_blank" class="highlight">出版经营许可证</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="../license.html" target="_blank" class="highlight">营业执照</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/youngermanage/wprotocol.html" target="_blank" class="highlight">家长监护工程</a></p>
        </div>
        <div class="cle"></div>
    </div>
</div> -->

<script type="text/javascript" src="../footerDB.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60194907-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>