<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full sidebar sidebar-full sticky-sidebar">
  <![endif]-->
  <!--[if IE 7]>
    <html class="ie lt-ie9 lt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
    <![endif]-->
    <!--[if IE 8]>
      <html class="ie lt-ie9 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
      <![endif]-->
      <!--[if gt IE 8]>
        <html class="ie gt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
        <![endif]-->
        <!--[if !IE]><!-->
          <html>
            <!-- <![endif]-->
            
            <head>
              <script type="text/javascript" src="/bitStyle/templates/js/jquery.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/bootstrap.min.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/modernizr.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/selectivizr.js">
              </script>
              <script type="text/javascript" src="/bitStyle//js/jquery.cookie.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/scripts.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/remaining.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/fn_number_format.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/9acba5c0d35076a1ccd574dfc21b8b2b.js">
              </script>
              <script type="text/javascript">
                var _gNow = new Date();

                setInterval(function() {
                  $.ajax({
                    url: '?aj=1&type=check_login',
                    data: {
                      'uid': 82662186
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {
                      if (data.loggedout == '1') {
                        window.location.href = "/bitStyle/zh-CN/";
                      }
                    }
                  })
                },
                300000); //5min
                
              </script>
              <script type="text/javascript">
                jQuery(document).ready(function($) {
                  // prompt user a box to pd after completed a gd
                  if (0) {
                    // $('#prompt-repd').modal('show');
                  }
                  $('#prompt-repd').on('click', '#click-pd',
                  function(e) {
                    e.preventDefault();
                    $("#pdBtn").trigger("click");
                    $('#prompt-repd').modal('hide');
                  });

                  $("#load_expected_bonus").click(function() {
                    $("#expected_bonus_list").html('<img src="/bitStyle/images/loader2.gif"/>');
                    $("#expected_bonus_list").load("?uid=" + );
                  });
                });
              </script>
              <script type="text/javascript">
                jQuery(document).ready(function($) {
                  var gdBtn = $('#gdBtn');
                  var pdBtn = $('#pdBtn');

                  pdBtn.click(function() {
                    $(this).toggleClass('active');
                    gdBtn.removeClass('active');
                    $('#pdWrap').stop(true, false).slideToggle('fast');
                    $('#gdWrap').stop(true, false).slideUp('fast').removeClass('open');
                    return false;
                  });
                  // if user status is freeze or just unblock and not yet do the maintain
                  gdBtn.click(function() {
                    $(this).toggleClass('active');
                    pdBtn.removeClass('active');
                    $('#gdWrap').stop(true, false).slideToggle('fast');
                    $('#pdWrap').stop(true, false).slideUp('fast').removeClass('open');
                    return false;
                  });

                  // Tooltips
                  $('.tip').tooltip({
                    placement: 'top'
                  });
                  $('.tipr').tooltip({
                    placement: 'right'
                  });
                  $('.tipb').tooltip({
                    placement: 'bottom'
                  });
                  $('.tipl').tooltip({
                    placement: 'left'
                  });

                  $("a[href='#top']").click(function() {
                    $("html, body").animate({
                      scrollTop: 0
                    },
                    "slow");
                    return false;
                  });

                  var _server_time = new Date(),
                  _server_time2 = new Date(),
                  _local_time = new Date(),
                  _local_time2 = new Date();

                  _timer = setInterval(function() {
                    var now = new Date();
                    true_elapsed = Math.round((now.getTime() - _gNow.getTime()) / 1000); //synchronize & increment 1 second
                    second = _local_time.getTime() + 1000;
                    elapsed = Math.round((second - _local_time2.getTime()) / 1000);
                    if (elapsed < true_elapsed) {
                      diff = true_elapsed - elapsed;
                      second += (diff * 1000);
                    }
                    _local_time.setTime(second);
                    second = _server_time.getTime() + 1000;
                    elapsed = Math.round((second - _server_time2.getTime()) / 1000);
                    if (elapsed < true_elapsed) {
                      diff = true_elapsed - elapsed;
                      second += (diff * 1000);
                    }
                    _server_time.setTime(second);

                    //update server time
                    date_text = padNumber(_server_time.getHours()) + ':' + padNumber(_server_time.getMinutes()) + ':' + padNumber(_server_time.getSeconds());
                    date_text += ' ' + _server_time.getDate() + '/' + (_server_time.getMonth() + 1) + '/' + _server_time.getFullYear();
                    $('#server_time_text').html(date_text);
                    //update local time
                    date_text = padNumber(_local_time.getHours()) + ':' + padNumber(_local_time.getMinutes()) + ':' + padNumber(_local_time.getSeconds());
                    date_text += ' ' + _local_time.getDate() + '/' + (_local_time.getMonth() + 1) + '/' + _local_time.getFullYear();
                    $('#local_time_text').html(date_text);
                  },
                  1000);

                  /**
    * @param number An integer
    * @return Integer padded with a 0 if necessary
    */
                  function padNumber(number) {
                    return (number >= 0 && number < 10) ? '0' + number: number;
                  }
                });
              </script>
              <script type="text/javascript">
                jQuery(document).ready(function($) {
                  var _allsecs = new Array();
                  var _allsecs2 = new Array();
                  var _i18n = {
                    weeks: ['星期', '星期'],
                    days: ['天', '天'],
                    hours: ['小时', '小时'],
                    minutes: ['分', '分'],
                    seconds: ['秒', '秒']
                  };
                  $('.maintain_remain_time').each(function() {
                    var _rid = $(this).attr('id');
                    var _seconds = parseInt($(this).attr('rel'));
                    if (_seconds > 0) {
                      $(this).html(remaining.getString(_seconds, _i18n, false));
                    } else {
                      $(this).html('剩余0天');
                    }
                    _allsecs[_rid] = _seconds;
                    _allsecs2[_rid] = _seconds;
                  });
                  timer = setInterval(function() {
                    var now = new Date();
                    true_elapsed = Math.round((now.getTime() - _gNow.getTime()) / 1000);
                    $('.maintain_remain_time').each(function() {
                      var _rid = $(this).attr('id');
                      if (typeof _allsecs[_rid] == 'undefined') {
                        _allsecs[_rid] = parseInt($(this).attr('rel'));
                      }
                      _seconds = _allsecs[_rid];
                      if (typeof _allsecs2[_rid] == 'undefined') {
                        _allsecs2[_rid] = parseInt($(this).attr('rel'));
                      }
                      //synchronize
                      _diff_sec = _allsecs2[_rid] - _seconds;
                      if (_diff_sec < true_elapsed) {
                        _seconds = _allsecs2[_rid] - true_elapsed;
                      }
                      if (_seconds > 0) {
                        $(this).html(remaining.getString(_seconds, _i18n, false));
                        _allsecs[_rid] = --_seconds;
                      } else {
                        $("#too_many_user").hide();
                        $("#login_btn").removeAttr("disabled");
                        $(this).html('剩余0天');
                      }
                    });
                  },
                  1000);
                });
              </script>
              <script type="text/javascript">
              </script>
              <script type="text/javascript">
                jQuery(document).ready(function($) {
                  var pin_message = "此次执行需要{quantity}PIN。";
                  $('#maintain_back_btn, #pd_back_btn, #gd_back_btn').click(function() {
                    $('input[name=__req]').val('start'); //back to starting step
                  });

                  if ("0") {
                    $("#pd_pin").text(pin_message.replace("{quantity}", parseInt(0 / 0.5)));
                  } else {
                    $("#pd_pin").text(pin_message.replace("{quantity}", 1));
                  }

                  $("input[name=from_wallet]").change(function() {
                    if ($(this).val() == 'cwallet') {
                      $("#minimum_amount").text("BTC0.50000000");
                    } else {
                      $("#minimum_amount").text("BTC0.50000000");
                    }
                  });

                  $("#show_pd_amount").html(format_monetary_value(0));
                  $("#show_gd_amount").html(format_monetary_value(0));

                  $("#pd_amount").keyup(function() {
                    $("#show_pd_amount").html(format_monetary_value($(this).val()));
                    if ($(this).val() > 0.5 && $(this).val() % 0.5 == 0) {
                      $("#pd_pin").text(pin_message.replace("{quantity}", $(this).val() / 0.5));
                    } else {
                      $("#pd_pin").text(pin_message.replace("{quantity}", 1));
                    }
                  });
                  $("#gd_amount").keyup(function() {
                    $("#show_gd_amount").html(format_monetary_value($(this).val()));
                  });

                  if (false) {
                    $("#recalc-ep-message").text("您的额外回酬已计算。请稍候片刻再尝试。");
                    $("#recalc-ep-button").attr("disabled", "disabled");
                    setTimeout(function() {
                      $("#recalc-ep-button").removeAttr("disabled");
                      $("#recalc-ep-message").text("");
                    },
                    0);
                  }

                  $("#recalc-ep-button").on("click",
                  function(e) {
                    e.preventDefault();
                    $("#recalc-ep-message").text("您的额外回酬已计算成功。如果想再计算，请稍候片刻再尝试。");
                    $(this).attr("disabled", "disabled");
                    $.ajax({
                      url: '?aj=1&type=recalc_user_ep',
                      data: {
                        'uid': 82662186
                      },
                      type: 'post',
                      dataType: 'json',
                      error: function(data) {
                        console.log(data);
                      },
                      success: function(data) {
                        if (data.percent > 0) {
                          $("#current_ep").html(data.percent);
                        }
                      }
                    });
                    setTimeout(function() {
                      $("#recalc-ep-button").removeAttr("disabled");
                      $("#recalc-ep-message").text("");
                    },
                    1800000);
                  });
                });
              </script>
              <script>
              </script>
              <link rel="stylesheet" href="/bitStyle/css/bootstrap.min.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/font-awesome.min.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/main.v001.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/zh-CN.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/fileupload.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/style.css" type="text/css"
              />
              <title>
                中信理财系统首页
              </title>
              <meta name="viewport<?php if(C('open_auto_m')==0) echo '_no'; ?>" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
              <meta name="apple-mobile-web-app-capable" content="yes">
              <meta name="apple-mobile-web-app-status-bar-style" content="black">
              <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"
              />
              <!-- Favicons -->
              <link rel="shortcut icon" href="/bitStyle/images/favicon.ico" type="image/x-icon">
              <link href='google.h.c' rel='stylesheet'
              type='text/css'>
              <link href='google.h.h'
              rel='stylesheet' type='text/css'>
            </head>
            
            <body class="zh-CN " id="">
              <script>
                (function(i, s, o, g, r, a, m) {
                  i['google.hAnalyticsObject'] = r;
                  i[r] = i[r] ||
                  function() { (i[r].q = i[r].q || []).push(arguments)
                  },
                  i[r].l = 1 * new Date();
                  a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
                  a.async = 1;
                  a.src = g;
                  m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'google.js.js', 'ga');

                ga('create', 'UA-65533920-1', 'auto');
                ga('send', 'pageview');
              </script>
              <include file="User/Home/View/default/common_header.html" />
              <script type="text/javascript">
                $(document).ready(function() {

                  //$(".top-button").click(function (e) {
                  //    e.stopPropagation();
                  //    $(".dropdown-menu").hide();
                  //    $(this).next().show();
                  //});
                  //$(".navbar-collapse").on('click', function(e){
                  //e.stopPropagation();
                  //})
                  //$("body").on('click', function(e){
                  //if ($(".navbar-collapse").hasClass("in")) {
                  //$(".navbar-collapse").collapse('hide');
                  //}
                  //})

                  //$(document).click(function (e) {
                  //    $(".dropdown-menu").hide();
                  //});

                });
              </script>
              <div id="wrapper">
                <div class="blue-bg" style="min-height:1000px;">
<include file="User/Home/View/default/common_tuijian.html" />
                   <div class="row">
      <div class="col-md-9">
          <div class="widget">
            <div class="widget-head clearfix">
              <h4 class="heading">存入金额</h4>
            </div>
            <div class="widget-body innerAll overthrow">
              <table class="table table-bordered table-primary">
                <thead>
                  <tr class="tac">
                    <th>
                      编号
                    </th>
                    <th>
                      交易进度
                    </th>
                    <th>
                      交易时间
                    </th>
                    <th>
                      接受会员
                    </th>
                    <th>
                      付款方式
                    </th>
                    <th>
                      付款金额
                    </th>
                    <th>
                      接受会员
                    </th>
                    <th>
                      操作
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <volist name="plist" id="o">
                    <tr class="odd">
                      <td>
                        <i>
                          <if condition="$o.zt eq 0">
                            <img src="/cssmmm/zt0.jpg">
                          </if>
                          <if condition="$o.zt eq 1">
                            <img src="/cssmmm/zt1.jpg">
                          </if>
                          <if condition="$o.zt eq 2">
                            <img src="/cssmmm/zt2.jpg">
                          </if>
                        </i>
                        <br>
                        <p class="text-center">R{$o.id}</p>
                      </td>
                      <td>
                        <if condition="$o.zt eq 0">
                          待付款
                        </if>
                        <if condition="$o.zt eq 1">
                          已付款
                        </if>
                        <if condition="$o.zt eq 2">
                          <font color="#017F01">
                            交易成功
                          </font>
                        </if>
                      </td>
                      </td>
                      <td>
                        <small>
                          配对时间{$a1=$o.date}
                          <div style="display: none">
                            {$aab=$o.g_user}
                          </div>
                        </small>
                        <br>
                        <if condition="$o.zt eq 0">
                          <small style="font-size:14px;font-weight:bold;color:#ff0000;">
                            剩余打款时间：
                            <span data="{$aa1|datedqsj=$a1,###}" class="countdownbox">
                            </span>
                            <div style="display: none">
                              {$aab=$v3.p_user}
                            </div>
                          </small>
                        </if>
                        <if condition="$o.zt eq 1">
                          <small style="font-size:14px;font-weight:bold;color:#ff0000;">
                            剩余确认时间：
                            <span data="{$aaa1|datedqsj=$aa1,###}" class="countdownbox">
                            </span>
                            <div style="display: none">
                              {$aab=$o.p_user}
                            </div>
                          </small>
                        </if>
                        <if condition="$o.zt eq 2">
                          <small>
                            汇款时间{$aa1=$o.date_hk}
                            <div style="display: none">
                              {$aab=$o.p_user}
                            </div>
                          </small>
                        </if>
                      </td>
                      <td>
                        {$o.g_user}
                      </td>
                      <td>
                       <!-- <if condition="$o.zffs1 eq 1">
                          银行
                        </if>-->
                        <if condition="$o.zffs2 eq 1">
                          云支付
                        </if>
                       <!-- <if condition="$o.zffs3 eq 1">
                          微信
                        </if>-->
                      </td>
                      <td>
                        {$o.jb}元
                        <br>
                        <br>
                        <if condition="$o.pic neq '0'">
                          <a href="{$o.pic}" target="_blank">
                            <i style="font-size: 14px;wallet-colorr:#ff0000;display: inline-block;font: normal normal normal 14px/1 FontAwesome;">
                              付款凭证
                            </i>
                          </a>
                        </if>
                      </td>
                      <td>
                        {$o.g_user|cx_user}
                      </td>
                      <td>
                        <input style="width:80px;margin-bottom:3px;background:#4CBDEB" name="btn2"
                        id="btn2{$o.id}" type="button" value="留　言" class="btn btn-info btn-xs addmsg"
                        data-toggle="modal" data-id="8802104" data-target="#myModal7">
                        <br>
                        <input style="width:80px;background:#34495E " name="btn" id="btn{$o.id}"
                        type="button" value="详细资料" class="btn_detail btn-primary btn-xs" data-toggle="modal" 
                        data-target="#myModal5">
                        <br>
                        <if condition="$o.zt eq '0'">
                          <if condition="$o.ts_zt eq '1'">
                            48小时未汇款
                            <br>
                            请联系对方取
                            <br>
                            消投诉!
                            <else/>
                            <input style="width:80px;" name="btn3" id="btn33{$o.id}" type="button"
                            value="确认已付款" class="btn_detail btn-primary btn-xs" data-toggle="modal"
                            data-target="#myModa24">
                            <script>
                              $(function() {
                                $('#btn33{$o.id}').click(function() {
                                  $("#mainframe13", parent.document.body).attr("src", "/Home/Index/home_ddxx_pcz/id/{$o.id}/"); $("#mainframe13").reload()
                                })
                              })
                            </script>
                          </if>
                        </if>
                        <if condition="$o.zt eq 1">
                          <if condition="$o.ts_zt eq '2'">
                            你已被对方投诉请与
                            <br>
                            对方取得联系!
                            <else/>
                            <span {$o.date|datedqsj2=###}>
                              <input style="width:120px;" name="btn3" id="btn33{$o.id}" type="button"
                              value="{$jjdktime}小时未确认投诉" class="btn_detail btn-primary btn-xs" data-toggle="modal"
                              data-target="#myModa24">
                              </span>
                              <script>
                                $(function() {
                                  $('#btn33{$o.id}').click(function() {
                                    $("#mainframe13", parent.document.body).attr("src", "/Home/Index/home_ddxx_g_wqr/id/{$o.id}/"); $("#mainframe13").reload()
                                  })
                                })
                              </script>
                          </if>
                        </if>
                      </td>
                    </tr>
                    <script>
                      $(function() {
                        $('#btn{$o.id}').click(function() {
                          $("#mainframe11", parent.document.body).attr("src", "/Home/Index/home_ddxx/id/{$o.id}/"); $("#mainframe11").reload();
                        });
                        $('#btn2{$o.id}').click(function() {
                          $("#mainframe12", parent.document.body).attr("src", "/Home/Index/home_ddxx_ly/id/{$o.id}/"); $("#mainframe12").reload();
                        });
                      });
                    </script>
                  </volist>
              </table>
            </div>
          </div>


          <div class="widget">
            <div class="widget-head clearfix">
              <h4 class="heading"><i class="fa fa-usd">
                </i>
                  存入金额</h4>
            </div>
            <div class="widget-body innerAll overthrow">
              <table class="table table-bordered table-primary">
                <thead>
                  <tr class="tac">
                    <th>
                      编号
                    </th>
                    <th>
                      交易进度
                    </th>
                    <th>
                      交易时间
                    </th>
                    <th>
                      存入会员
                    </th>
                    <th>
                      付款方式
                    </th>
                    <th>
                      付款金额
                    </th>
                    <th>
                      取出会员
                    </th>
                    <th>
                      操作
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <volist name="glist" id="o">
                    <tr class="odd" role="row">
                      <td>
                        <i>
                          <if condition="$o.zt eq 0">
                            <img src="/cssmmm/zt0.jpg">
                          </if>
                          <if condition="$o.zt eq 1">
                            <img src="/cssmmm/zt1.jpg">
                          </if>
                          <if condition="$o.zt eq 2">
                            <img src="/cssmmm/zt2.jpg">
                          </if>
                        </i>
                        <p class="text-center">S{$o.id}</p>
                      </td>
                      <td>
                        <if condition="$o.zt eq 0">
                          待付款
                        </if>
                        <if condition="$o.zt eq 1">
                          已付款
                        </if>
                        <if condition="$o.zt eq 2">
                          <font color="#017F01">
                            交易成功
                          </font>
                        </if>
                      </td>
                      </td>
                      <td>
                        <small>
                          配对时间{$a1=$o.date}
                          <div style="display: none">
                            {$aab=$o.g_user}
                          </div>
                        </small>
                        <br>
                        <if condition="$o.zt eq 0">
                          <small style="font-size:14px;font-weight:bold;color:#ff0000;">
                            剩余打款时间：
                            <span data="{$aa1|datedqsj=$a1,###}" class="countdownbox">
                            </span>
                            <div style="display: none">
                              {$aab=$v3.p_user}
                            </div>
                          </small>
                        </if>
                        <if condition="$o.zt eq 1">
                          <small style="font-size:14px;font-weight:bold;color:#ff0000;">
                            剩余确认时间：
                            <span data="{$o.date|datedqsj=###}" class="countdownbox">
                            </span>
                            <div style="display: none">
                              {$aab=$o.p_user}
                            </div>
                          </small>
                        </if>
                        <if condition="$o.zt eq 2">
                          <small>
                            汇款时间{$aa1=$o.date_hk}
                            <div style="display: none">
                              {$aab=$o.p_user}
                            </div>
                          </small>
                        </if>
                      </td>
                      <td>
                        自己
                      </td>
                      <td>
                     <!--   <if condition="$o.zffs1 eq 1">
                          银行
                        </if>-->
                        <if condition="$o.zffs2 eq 1">
                         云支付
                        </if>
                      <!--  <if condition="$o.zffs3 eq 1">
                          微信
                        </if>-->
                      </td>
                      <td>
                        {$o.jb}元
                        <br>
                        <if condition="$o.pic neq '0'">                     
                          <a href="{$o.pic}" target="_blank">
                            <i style="font-size: 14px;wallet-colorr:#ff0000;display: inline-block;font: normal normal normal 14px/1 FontAwesome;">
                              付款凭证
                            </i>
                          </a>
                        </if>
                      </td>
                      <td>
                        {$o.g_user|cx_user}
                      </td>
                      <td>
                        <input style="width:80px;margin-bottom:3px;background:#4CBDEB" name="btn2"
                        id="btn2{$o.id}" type="button" value="留　言" class="btn btn-info btn-xs addmsg"
                        data-toggle="modal" data-id="8802104" data-target="#myModal7">
                        <br>
                        <input style="width:80px;background:#34495E " name="btn" id="btn{$o.id}"
                        type="button" value="详细资料" class="btn_detail btn-primary btn-xs" data-toggle="modal" 
                        data-target="#myModal5">
                        <br>

                      <if condition="$o.zt eq 1" >
                            <if condition="$o.ts_zt eq '3'" >
                            48小时未确认收款,<br>
                            已被投诉,请联系对<br>
                            方取消投诉!

                            <else/>
                            <input style="width:80px;" name="btn23" id="btn23{$o.id}" type="button" value="确认收款" class="btn_detail btn-primary btn-xs" data-toggle="modal"  data-target="#myModa23">
                            </if>
                            <script>
                            $(function(){
                            $('#btn23{$o.id}').click(function(){
                            $("#mainframe188",parent.document.body).attr("src","/Home/Index/home_ddxx_gcz/id/{$o.id}/") 
                            $("#mainframe188").reload();
                            })
                            })
                            </script>
                      </if>


                        <if condition="$o.zt eq 0">
                          <if condition="$o.ts_zt eq '2'">
                            你已被对方投诉请与
                            <br>
                            对方取得联系!
                            <else/>
                              <span {$aa2|datedqsj2=$a1,###}>
                              <input style="width:120px;" name="btn23" id="btn23{$v3.id}" type="button" value="{$jjdktime}小时未打款投诉" class="btn_detail btn-primary btn-xs" data-toggle="modal"  data-target="#myModa23"></span>   
                             <script>
                              $(function(){
                                $('#btn23{$v3.id}').click(function(){
                                $("#mainframe188",parent.document.body).attr("src","/Home/Index/home_ddxx_g_wdk/id/{$v3.id}/") 
                                $("#mainframe188").reload();
                                });
                              });
                              </script>
                          </if>
                        </if>
                      </td>
                    </tr>
                    <script>
                      $(function() {
                        $('#btn{$o.id}').click(function() {
                          $("#mainframe11", parent.document.body).attr("src", "/Home/Index/home_ddxx/id/{$o.id}/"); $("#mainframe11").reload();
                        });
                        $('#btn2{$o.id}').click(function() {
                          $("#mainframe12", parent.document.body).attr("src", "/Home/Index/home_ddxx_ly/id/{$o.id}/"); $("#mainframe12").reload();
                        });
                      });
                    </script>
                  </volist>
              </table>
            </div>
          </div>











        </div>







        <div class="col-md-3">
          <volist name="tlist" id="v">
            <div class="widget donate-sidebar pdContainer-pending ">
              <div class="widget-body">
                <div class="donateHead clearfix">
                  <span class="fa fa-arrow-right glyphicon-circle glyphicon-left">
                  </span>
                  <div class="title">
                    存入金额:
                    <span>
                      P{$v.id|md5=###|substr=###,0,6|strtolower=###}
                    </span>
                  </div>
                </div>
                <b>
                  参加者
                </b>
                :{$v.user_nc}
                <br/>
                <b>
                  数额
                </b>
                :{$v.jb|hk}
                <br/>      
                <b>
                  日期
                </b>
                :{$v.date}
                <br/>
                <b>
                  状况:
                  <if condition="$v.zt eq 0">
                    <span class="pending">
                      等待中
                    </span>
                  </if>
                  <if condition="$v.zt eq 1">
                    <span class="pending">
                      匹配成功
                    </span>
                  </if>
                  </fb>
                  <br>
                </b>
                <b>
                  <if condition="$v.zt eq 0" >
                       <div style="">
                                               <!--<form method="post" id="wait" action="/tu/cancel_provide_request"> -->

                                                
                        <a href="javascript:if(confirm(' 确定要取消此定单吗?'))location='/Home/Index/tgbz_del/id/{$v.id}/'"  class="btn btn-danger btn-xs">取消</a>                                             
                         <!--<button type="button" class="btn btn-info btn-xs" style="float:right">详细资料>></button> -->
                                            <!--</form>-->
                        </div>
                      </if>

               </b>
              </div>
            </div>
          </volist>


          <volist name="jlist" id="v">
            <div class="widget donate-sidebar gdContainer-pending ">
              <div class="widget-body">
                <div class="donateHead clearfix">
                  <span class="fa fa-arrow-right glyphicon-circle glyphicon-left">
                  </span>
                  <div class="title">
                    得:获得利益:
                    <span>
                      G{$v.id|md5=###|substr=###,0,6|strtolower=###}
                    </span>
                  </div>
                </div>
                <b>
                  参加者
                </b>
                :{$v.user_nc}
                <br/>
                <b>
                  数额
                </b>
                :{$v.jb|hk}
                <br/>              
                <b>
                  日期
                </b>
                :{$v.date}
                <br/>
                <b>
                  状况:
                  <if condition="$v.zt eq 0">
                    <span class="pending">
                      等待中
                    </span>
                  </if>
                  <if condition="$v.zt eq 1">
                    <span class="pending">
                      匹配成功
                    </span>
                  </if>
                  </b>                  
                  <br>
                <if condition="$b.zt eq 0" >
                     <div style="">
                         <!--<form method="post" id="wait" action="/tu/cancel_provide_request"> -->

                         <a href="javascript:if(confirm(' 确定要取消此定单吗?'))location='/Home/Index/jsbz_del/id/{$v.id}/'"  class="btn btn-danger btn-xs">取消</a>                                                <!--<button type="button" class="btn btn-info btn-xs" style="float:right">详细资料>></button> -->
                      <!--</form>-->
                      </div>
                </if>
              </div>
            </div>
          </volist>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="color-line">
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="title">
          详细的订单信息
        </h5>
        <small class="font-bold">
        </small>
      </div>
      <div class="modal-body" style="height:400px; overflow:auto">
        <iframe src='' id="mainframe11" width="100%;" height="350px;">
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="color-line">
          </div>
          <div class="modal-header">
            <h5 class="modal-title" id="title2">
              留言信息
            </h5>
            <small class="font-bold">
            </small>
          </div>
          <div class="modal-body" style="height:300px; overflow:auto">
            <iframe src='' id="mainframe12" width="830px;" height="350px;">
            </iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-default" data-dismiss="modal">
              关闭
            </button>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade" id="dialog-msg">
  <div class="modal-dialog">
    <fieldset>
      <form id="pdgd_message_form" method="post">
        <input type="hidden" name="uid" value="82662186">
        <input type="hidden" name="mdid">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="hierarchy_title">
              信息
            </h3>
          </div>
          <div class="modal-body np">
            <div id="message_div" class="messageWrap">
            </div>
            <div id="message_foot">
              <div id="upload">
                <div class="btn-group btn-group-sm" id="upload_clone">
                  <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-group">
                      <div class="form-control col-md-3">
                        <i class="fa fa-file fileupload-exists">
                        </i>
                        <span class="fileupload-preview">
                        </span>
                      </div>
                      <span class="input-group-btn">
                        <span class="btn btn-default btn-sm btn-file">
                          <span class="fileupload-new">
                            选择文件
                          </span>
                          <span class="fileupload-exists">
                            替换文件
                          </span>
                          <input type="file" class="btn btn-inverse" name="upload">
                        </span>
                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                          清除
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <textarea class="form-control form-control-text-area" placeholder="回复"
              name="message" id="message" rows="4">
              </textarea>
              <p class="error" id="message_text">
              </p>
            </div>
          </div>
          <footer class="modal-footer clearfix">
            <input type="button" class="btn btn-default btn-sm" data-dismiss="modal"
            value="取消" />
            <input type="submit" class="btn btn-primary btn-sm" id="btn_add_message"
            value="回复信息" />
          </footer>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<div class="modal fade" id="dialog-confirm-confirm">
  <div class="modal-dialog">
    <form id="approve_pdgd_form" enctype="multipart/form-data" method="post">
      <input type="hidden" name="__req" value="12">
      <input type="hidden" name="__nonce" value="658026269a5cc1d7205b34c6b6e35efcee9d5c2c51b388305200daabf13efd20">
      <input type="hidden" name="confirm_mdid">
      <fieldset>
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="hierarchy_title">
              确认
            </h3>
          </div>
          <div class="modal-body">
            您确定要肯定此合并舍得吗?
            <br/>
            <br/>
            为了双方资金安全抵达，系统新上了上传汇款交易成功图片，您可以选择直接点上确认，或者上传付款证明以确认此舍得合并，才点上确认都可以。
            <br/>
            <br/>
            在得的会员，对方在能点上批准时，会看到您所上传的打款交易照片！
            <br/>
            <br/>
            <div id="confirm_upload_images_div">
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="confirm_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="confirm_upload[]">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="confirm_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="confirm_upload[]">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="confirm_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="confirm_upload[]">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="confirm_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="confirm_upload[]">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="confirm_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="confirm_upload[]">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="confirm_cancel_btn">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
              取消
            </button>
            <input type="submit" id="btn_approve_donation" class="btn btn-primary btn-sm"
            value="确定" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="modal fade" id="dialog-report-confirm">
  <div class="modal-dialog">
    <form id="report_pdgd_form" enctype="multipart/form-data" method="post">
      <input type="hidden" name="__req" value="8">
      <input type="hidden" name="__nonce" value="db1938e53e777acaafe76bdaa833d43352a4303272baa4541d4dbbf5560859c4">
      <input type="hidden" name="report_uid">
      <input type="hidden" name="report_mdid">
      <fieldset>
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="hierarchy_title">
              确认举报
            </h3>
          </div>
          <div class="modal-body">
            <p>
              请提供您欲举报的原因。
            </p>
            <label>
              选项:
            </label>
            <select class="form-control" name="report_reason">
              <option value="">
                请选择
              </option>
              <option value="6">
                已经打款,对方没有确认
              </option>
              <option value="7">
                对方银行账号错误
              </option>
              <option value="8">
                联系方式有问题
              </option>
              <option value="5">
                其他
              </option>
            </select>
            <span id="report_reason_err_text" class="error">
            </span>
            <br/>
            <label>
              信息:
            </label>
            <textarea class="form-control form-control-text-area" placeholder="Reply here..."
            name="report_message" rows="4">
            </textarea>
            <div id="confirm_upload_images_div">
              <div id="confirm_message_div" class="messageWrap">
              </div>
              <div id="confirm_message_foot">
                <div id="report_upload">
                  <div class="btn-group btn-group-sm" id="confirm_upload_clone">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="input-group">
                        <div class="form-control col-md-3">
                          <i class="fa fa-file fileupload-exists">
                          </i>
                          <span class="fileupload-preview">
                          </span>
                        </div>
                        <span class="input-group-btn">
                          <span class="btn btn-default btn-sm btn-file">
                            <span class="fileupload-new">
                              选择文件
                            </span>
                            <span class="fileupload-exists">
                              替换文件
                            </span>
                            <input type="file" class="btn btn-inverse" name="report_upload">
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">
                            清除
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="approve_cancel_btn">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
              取消
            </button>
            <input type="submit" id="btn_cancel_donation" class="btn btn-primary btn-sm"
            value="确定" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="modal fade" id="dialog-photo">
  <div class="modal-dialog">
    <form name="cancel_order_form" method="post" action="">
      <input type="hidden" name="" value="">
      <input type="hidden" name="" value="">
      <input type="hidden" name="pboid" value>
      <div class="modal-content">
        <div class="modal-body np" id="image_div">
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal fade" id="myModa23" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="color-line"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="title23">请选择</h5>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body" style="height:400px; overflow:auto">
              <iframe src='' id="mainframe188" width="830px;" height="350px;" ></iframe>
            </div>
            <div class="modal-footer">
                
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--  
                <button type="button" class="btn-primary" data-dismiss="modal" id="select_fanshi">确认</button>-->
            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="myModa24" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="color-line"></div>
            <div class="modal-header">
                <h5 class="modal-title" id="title24">请选择</h5>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body" style="height:400px; overflow:auto">
              <iframe src='' id="mainframe13" width="830px;" height="350px;" ></iframe>
            </div>
            <div class="modal-footer">
                
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                 
                <!--<button type="button" class="btn-primary" data-dismiss="modal" id="select_fanshi2">确认</button> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="prompt-repd">
  <div class="modal-dialog">
    <fieldset>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="hierarchy_title">
            完成存与取的程序
          </h3>
        </div>
        <div class="modal-body np">
          <div id="message_foot">
            您已经完成了一个存与取的程序。请问您想继续存入金额吗?
          </div>
        </div>
        <footer class="modal-footer clearfix">
          <input type="continue" class="btn btn-green btn-sm" value="继续" id="click-pd"
          />
          <input type="button" class="btn btn-red btn-sm" data-dismiss="modal" value="迂回"
          />
        </footer>
      </div>
    </fieldset>
  </div>
</div>    
            </body>
          
          </html>