
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<!-- Head -->
<head>

    <title>LX世纪商城,互助源码,理想家园,预付款,抢单互助,源码下载,源码销售认准qq2994682708</title>

    <!-- Meta-Tags -->
        <meta name="viewport<?php if(C('open_auto_m')==0) echo '_no'; ?>" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                         <meta name="viewport<?php if(C('open_auto_m')==0) echo '_no'; ?>" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
                        <meta name="apple-mobile-web-app-capable" content="yes">
                        <meta name="apple-mobile-web-app-status-bar-style" content="black">
                        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <!-- Style --> <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">



</head>
<!-- //Head --2

<!-- Body -->
<body style="padding-top:10%">

            <img src="/templates/default/images/logo.png" alt="" class="img" width="150"  height="150">

    <div class="container w3layouts agileits">
                       
        <div class="login w3layouts agileits">
            
             <form name="login_form" action="{:U('login/logincl')}" method="post" enctype="multipart/form-data" >
                  <input type="text" class="form-control" name="account" autofocus id="username"  placeholder="帐号">
                  <input type="password" class="form-control" name="password"  id="password" placeholder="登录密码" >
                   <input  name="verCode" id="verCode" type="text" class="loginuser1" placeholder="验证码" onclick="JavaScript:this.value=''" style="width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="/index.php/Home/login/verify" name="myHeader" height="35" id="myHeader" onClick="this.src='/index.php/Home/login/verify?'+Math.random();" />
              <ul class="tick w3layouts agileits">
                <li> 
                  
                    <label for="brand1"><span></span></label>
              </li>
                  </ul> 
                  <div class="send-button w3layouts agileits">
                
                    <input id="login_btn" type="submit" value="登 录">
                
                  </div>
            </form>
            
            
             <a class="btn btn-block" type="button" name="submit"  id="login_btn" href="{:U('Reg/forgot')}" />忘记密码</a>
            
            <div class="clear"></div>
        </div>
        

        
          
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

    </div>

    <div class="footer w3layouts agileits">
        <p>&copy; Copyright  {:C('app_name')} All rights reserved.    </p>
    </div>
   <script type="text/javascript">
    $(document).ready(function($){
        $('form[name=login_form]').submit(function(){
            $('input#login_btn').attr('disabled','disabled');
        });     
        $('#username').focus();         
       
    });

    function reg() {
        if ($("#username").val() == "") {
             alert("请填写用户名");
            return false;
        } else if ($("#recommended").val() == "") {
             alert("请填写推荐人");
            return false;
        }
        else if ($("#password").val() == "") {
             alert("请填写密码");
            return false;
        }
        /*else if ($("#password").val() != $("#cpassword").val()) {
            layer.msg("两次密码不一致");
            return false;
        }*/
        else if ($("#cpassword").val() == "") {
             alert("请填写安全密码");
            return false;
        }
        /*else if ($("#cpassword2").val() != $("#cpassword2").val()) {
            layer.msg("两次安全密码不一致");
            return false;
        }*/
        else if ($("#realname").val() == "") {
             alert("请填写姓名");
            return false;
        }
       
        else if ($("#phone").val() == "") {
             alert("请填写手机号");
            return false;
        }
        else if ($("#password").val() == "") {
             alert("请填写密码");
            return false;
        }

        if (!isMobile($("#phone").val())) {
             alert("手机格式不正确");
            return false;
        }

       
        /*$.post("{:U('Reg/regadd')}", $("form").serialize(), function(data) { 
            if (data.error) { 
                    layer.msg(data.msg);
            } else { 
                alert(data.msg);
                location.href= "{:U('Login/index')}";                    
            }},'json');*/

        $("#register_form").submit();
    }

    function isMobile(str) {
        var myreg = /^([0]?)(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
        return myreg.test(str);
    }

    function isEmail(str) {
        var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        return reg.test(str);
    }

    var wait = 60;

    function time(o) {  
          console.log('yanzhnegm');     

        if ($("#phone").val() == "") {
            alert("请填写手机号");
            return false;
        }       

        if (!isMobile($("#phone").val())) {
             alert("手机格式不正确");
            return false;
        }

        $.post("{:U('Reg/sendPhone')}", { phone: $("#phone").val() }, function(msg) { alert("验证码已经发送，注意查收"); });

        okssss(o);
    }
    var wait = 60;
    function okssss(o) {
        if (wait == 0) {
            $(o).removeAttr("disabled");
            $(o).val("免费获取验证码");
            wait = 120;
        } else {
            $(o).attr("disabled", true);
            $(o).val("重新发送(" + wait + ")");
            wait--;
            setTimeout(function() {
                okssss(o);
            },
            1000);
        }
    }
</script>

</body>
<!-- //Body -->

</html>