<!-- header start -->
<include file="User/Home/View/wns/common_header.html" />
<!-- header end -->
   <div class="content-wrapper tab-content tab-addtabs"> 
    <div role="tabpanel" class="tab-pane active" style="overflow: auto"> 
     <div class="maincon"> 
      <div class="well bs-component">
				<legend style="text-align: left;font-weight: bold;">当前{:C('pdm_name')}余额：{$userData['pdmnum']}</legend>
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{:C('pdm_name')}转账 </legend>
                        <span class="help-block">转帐无需手续费</span>
                        <div class="form-group col-lg-6 col-xs-12">
                            <div class="col-lg-8 col-xs-8">
                                <input type="text" class="form-control" id="num_zz_user" placeholder="对方账号或手机号">
                            </div>
                            <label for="num_zz_user" class="col-lg-4 col-xs-4 text-left control-label"></label>
                        </div>
                   		<div class="form-group col-lg-6 col-xs-12">
                            <div class="col-lg-8 col-xs-8">
                                <input type="text" class="form-control" id="num_zz_nums" placeholder="数量">
                            </div>
                            <label for="num_zz_nums" class="col-lg-4 col-xs-4 text-left control-label"></label>
                        </div>
						<input type="button" class="form-control" value="提交" disabled="disabled" id="num_zz_submit">
                    </fieldset>
                </form>
            </div>
      <div class="walletpanel"> 
       <div class="contitle active">
         {:C('pdm_name')} 消费纪录
       </div> 
       <table class="table"> 
        <tbody>
         <tr> 
          <th>编号</th>
          <th>日期</th>
          <th>类型</th>
          <th>数量</th>
		  <th>余额</th>
          <th>说明</th>
         </tr>
		 <foreach name='paidan_list' item='v'>
         <tr>
          <td>{$v.id}</td>
          <td>{$v.date}</td>
          <td>
		      <if condition="$v.type eq 'zc'">转出</if>
		      <if condition="$v.type eq 'pd'">排单</if>
			  <if condition="$v.type eq 'zr'">转入</if>
			  <if condition="$v.type eq 'cz'">充值</if>
		  </td>
		  <td>{$v.num}</td>
		  <td>{$v.yue}</td>
		  <td>{$v.info}</td>
         </tr>
		 </foreach>
        </tbody>
       </table> 
       <div class="fixed-table-pagination" style="display: block;"> 
	   <div class="pull-left pagination-detail"> 
         <span class="pagination-info"> 共 {$paidan_count} 条纪录</span> 
         <span class="page-list2">每页显示 <span class="btn-group dropup"> <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="page-size2">10</span> <span class="caret"></span> </button> 
           <ul class="dropdown-menu" role="menu"> 
            <li role="dropdown-menu" class="active"><a>10</a></li>
            <li role="dropdown-menu"><a>25</a></li>
            <li role="dropdown-menu"><a>50</a></li> 
           </ul> </span>条记录</span> 
        </div> 
        <div class="pull-right pagination"> 
         <div class="page"> 
		      {$paidan_page}
         </div> 
        </div> 
        </div>      
      </div> 
     </div> 
    </div> 
   </div> 
   <style>
	.walletpanel{background: rgba(255,255,255,.9);padding: 10px 5px;}
	.dddd{width: 96%;text-align: center;margin:0 auto;}
	.dddd > div{height: 5em;padding: 5px;border: 1px solid rgba(0,0,0,.1)}
	.dddd > div .num{font-size: 1.5em;font-weight: bold;display: inline-block;height: 100%;float: left;line-height: 2.8em}
	tr.green{background: rgba(0,250,0,.2) !important;color: #444}
	tr.red{background: rgba(250,0,0,.2) !important;color: #444}
   </style> 
</div>
<script>
	(function(){
		document.title="{:C('pdm_name')}";
		//积分转账
		$(document).on('blur','#num_zz_user',function(){
			var o = $(this).val();
			if (o=='') return;
			$.ajax({
				type:'post',
				url:'/Home/Index/home_post',
				data:'act=get_userinfo&field=ue_theme&u_p='+o,
				success:function(data){
					if (data.sf==1) {
						$('[for=\'num_zz_user\']').html('<span style=\'color:#090\'>'+data.nr+'</span>');
					}else{
						$('[for=\'num_zz_user\']').html('<span style=\'color:#a00\'>'+data.nr+'</span>');
					}
				}
			});
		}).on('input','#num_zz_nums',function(){
			var o = parseInt($(this).val());
			if (o<=0) {
				$('#num_zz_submit').attr('disabled','disabled');
				return;
			}else{
				$('[for=\'num_zz_nums\']').text('需扣除0%手续费：'+(o*0.0)+"{:C('pdm_name')}");
				$('#num_zz_submit').removeAttr('disabled');
			}
		}).on('blur','#num_zz_nums',function(){
			var o = $(this).val();
			if (o>0){
				$.ajax({
					type:'post',
					url:'/Home/Index/home_post',
				    data:"act=get_userinfo&field=pdmnum&u_p={$userData['ue_account']}",
					success:function(data)
					{
						if (data.sf==1) 
					    {
							if(data.nr < parseInt(o))
							{
								$('[for=\'num_zz_nums\']').html('<span style=\'color:#090\'>'+"您的{:C('pdm_name')}不足！"+'</span>');
							    $('#num_zz_submit').removeAttr('disabled');
							}

						}else{
							$('[for=\'num_zz_nums\']').html('<span style=\'color:#a00\'>'+data.nr+'</span>');
							$('#num_zz_submit').attr('disabled','disabled');
						}
					}
				});
			}
		}).on('click','#num_zz_submit',function(){
			var to_user = $('#num_zz_user').val();
			var user = $('[for=num_zz_user]').text();
			var num = $('#num_zz_nums').val();
			layer.confirm('是否向会员'+to_user+'转帐'+num+"{:C('pdm_name')}？",{ title:'请确认', },
				function(index,layero){
					$.ajax({
						type:'post',
						url:'/Home/Index/home_post',
						data:'act=paidan_zc&to_user='+to_user+'&num='+num,
						success:function(data){
							if (data.sf==1) {
								layer.closeAll();
								layer.msg('转帐成功');
								setTimeout(function(){location.reload()},2000);
							}else{
								layer.msg(data.nr);
							}
						}
					});
				}
			);
		})


		$(document).on('click','#num_mall_submit',function(){
			var num = parseInt($('#num_mall_num').val());
			console.log(num);
			if (num<=0) {
				layer.msg('请输入正确金额！');
				return;
			}
			layer.load();
			$.ajax({
				type:'post',
				url:'?',
				data:'act=convertmoney&num='+num,
				success:function(data){
					layer.closeAll('loading');
					layer.msg(data);
				}
			})

		})

		//激活会员
		$(document).on('click','.activeone',function(){
			var id = $(this).attr('data');
			$.ajax({
				type:'post',
				url:'?',
				data:'act=activeone&id='+id,
				success:function(data){
					var res = eval("("+data+")");
					layer.msg(res.content);
					if (res.status==1) location.reload();
				}
			});
		})

		//查看积分转账记录
		$(document).on('click','.btn_num_record',function(){
			var o = $(this);
			var start = parseInt($(this).attr('data'));
			o.text('查看更多...').attr('data',start+10);
			$.ajax({
				type:'post',
				url:'?',
				data:'act=jifenrecord&start='+start,
				timeout:7000,
				success:function(data){
					var res = eval("("+data+")");
					if (res.status==0) {
						layer.msg(res.content);
						return;
					}else{
						o.prev('table').find('tr:first-child').before(res.content);
					}

				}
			})
		})

		//查看转积分至商城记录
		$(document).on('click','.btn_jifentomall_record',function(){
			var o = $(this);
			var start = parseInt($(this).attr('data'));
			o.text('查看更多...').attr('data',start+10);
			$.ajax({
				type:'post',
				url:'?',
				data:'act=jifentomallrec&start='+start,
				timeout:7000,
				success:function(data){
					var res = eval("("+data+")");
					if (res.status==0) {
						layer.msg(res.content);
						return;
					}else{
						o.prev('table').find('tr:first-child').before(res.content);
					}

				}
			})
		})
	})();
</script>
<!-- footer start -->
<include file="User/Home/View/wns/common_footer.html" />
<!-- footer end -->